<p-dialog header="Edite as informações da solicitação de serviço" [style]="{width: '700px'}" [(visible)]="displayModal"
    modal="true" (onHide)="closeModal()">
    <hr style="margin: 1rem 0; border-color: #8f8b8b;">

    <form [formGroup]="formulario" (ngSubmit)="editarServico()">
        <!-- Informações do Veículo -->
        <div class="info-section" style="display: flex; flex-wrap: wrap; margin-top: 1rem;">
            <div style="flex: 1 1 50%; font-size: 13px; margin-bottom: 0.5rem;">
                <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Status: </strong> <span>{{
                        getSituacaoDescricao(solicitacaoSelecionada.statusSolicitacaoServico) }}</span></p>
                <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Data da
                        solicitação: </strong> <span>{{solicitacaoSelecionada.dataSolicitacao | date:
                        'dd/MM/yyyy'}}</span></p>
                <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Solicitado por: </strong>
                    <span>{{solicitacaoSelecionada.usuarioSolicitanteId}}</span>
                </p>
                <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Descrição: </strong>
                    <span>{{solicitacaoSelecionada.descricaoSolicitacao}}</span>
                </p>
                <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Tipo de manutenção:
                    </strong>
                    <span>{{getDescricaoTipoManutencao(solicitacaoSelecionada.tipoManutencao) }}
                    </span>
                </p>
            </div>
            <div style="flex: 1 1 50%; font-size: 13px; margin-bottom: 0.5rem;">
                <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Placa: </strong>
                    <span>{{solicitacaoSelecionada.placa}}</span>
                </p>
                <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Marca/Modelo: </strong>
                    <span>{{solicitacaoSelecionada.veiculo.desc_marca_modelo}}</span>
                </p>
                <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;">
                    <strong>Capacidade/Potência/Cilindrada: </strong> <span>
                        {{ solicitacaoSelecionada.veiculo?.qtd_passageiros_vcl }} /
                        {{ solicitacaoSelecionada.veiculo?.num_potencia_vcl }} /
                        {{ solicitacaoSelecionada.veiculo?.num_cilindradas_vcl }}
                    </span>
                </p>
                <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Alocação: </strong>
                    <span>{{solicitacaoSelecionada.siglaLotacao}} -
                        {{solicitacaoSelecionada.siglaSublotacao}}</span>
                </p>
            </div>
        </div>

        <!-- Linha divisória -->
        <hr style="margin: 1rem 0; border-color: #8f8b8b;">

        <!-- Seção de Edição -->
        <div class="p-fluid grid formgrid">
            <!-- Campo de Tipo de Manutenção -->
            <div class="field col-4">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="tipoManutencao">Tipo de
                    manutenção*</label>
                <p-treeSelect class="tipo-manutencao-input" id="tipoManutencao" [options]="treeDataTipoManutencao"
                    optionLabel="label" optionValue="key" formControlName="tipoManutencao"
                    placeholder="Selecione o tipo de manutenção.">
                </p-treeSelect>
                <div
                    *ngIf="formulario.get('tipoManutencao').hasError('required') && (formulario.get('tipoManutencao').dirty || formulario.get('tipoManutencao').touched)">
                    <small class="p-error">Tipo de manutenção é obrigatório.</small>
                </div>
            </div>

            <!-- Campo de Serviços -->
            <div class="field col-8">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="servicos">Serviços a serem
                    executados*</label>
                <textarea pInputTextarea rows="6" class="servicos-input" formControlName="servicos"
                    placeholder="Liste aqui os serviços que deseja executar no veículo."></textarea>
            </div>
        </div>

        <!-- Botões de Ação -->
        <div class="container-fluid">
            <div class="container-fluid d-flex justify-content-end p-5 mb-1" style="margin-left:50px ;">
                <p-button [outlined]="true" severity="success" label="Cancelar"
                    class="p-button-sm p-button-text button-hover-effect" (onClick)="closeModal()" />
                <p-button label="Salvar alterações" class="p-button-sm p-button-success button-hover-effect"
                    (onClick)="editarServico()" [disabled]="disableSaveButton" severity="success" />

            </div>
        </div>
    </form>
</p-dialog>