<p-toast></p-toast>
<p-card>
    <div style=" margin-left: 30px;">
        <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    </div>
    <div class="container-fluid mb-7 mr-5">
        <div class="container-fluid mb-7 mr-5" style="margin-right: -10px;">
            <div class="flex justify-content-end">
                <button icon="pi pi-plus" pButton pRipple label="Nova Alocação" class="p-button-success"
                    (click)="novaAlocacao()"></button>
            </div>
        </div>


        <div class="container-fluid">
            <div class="header-container d-flex align-items-center mb-4">
                <!-- Título com margem à esquerda para movê-lo para a direita -->
                <div class="titulo" style="margin-left: 10px;">
                    <h1 class="titulo-pagina" style="font-size: 1.5rem; color: rgb(8, 105, 8); margin-right: 10px;">
                        <strong>Alocação veículo e motoristas</strong>
                    </h1>
                </div>
                <p-divider class="divider" type="solid"></p-divider>
                <div class="search-container p-input-icon-left ml-auto" style="position: relative; margin-right: 15px;">
                    <i class="pi pi-search"
                        style="position: absolute; left: 10px; top: 65%; transform: translateY(-50%);"></i>
                    <input class="input-pesquisar" pInputText type="text" placeholder="Pesquisar"
                        style="padding-left: 30px;" [(ngModel)]="pesquisar"
                        (ngModelChange)="filtrarVeiculosMotoristas()">

                </div>
            </div>
        </div>

        <!-- Spinner exibido enquanto a página carrega -->
        <div *ngIf="isLoading" class="spinner-container">
            <p-progressSpinner ariaLabel="loading" [style]="{ width: '50px', height: '50px' }" strokeWidth="4"
                class="green-spinner"></p-progressSpinner>
        </div>

        <p-table *ngIf="!isLoading" dataKey="veiculoMotorista.id" [value]="veiculosMotoristasFiltrados"
            styleClass="p-datatable-striped custom-table" [tableStyle]="{ 'min-width': '20rem', 'width': '100%' }"
            [expandedRowKeys]="expandedRows" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]">
            <ng-template pTemplate="header">
                <tr>
                    <th class="cabecalho" style="width: 2%;"></th>
                    <th class="cabecalho" pSortableColumn="motoristaDTO.pessoa.nome"
                        style="min-width: 170px; font-size: 13px;">
                        Motorista <p-sortIcon field="motoristaDTO.pessoa.nome"></p-sortIcon>
                    </th>
                    <th class="cabecalho" pSortableColumn="motoristaDTO.codSubLotacaoMotorista"
                        style="min-width: 190px; font-size: 13px;">
                        Sublotação motorista <p-sortIcon field="motoristaDTO.codSubLotacaoMotorista"></p-sortIcon>
                    </th>
                    <th class="cabecalho" pSortableColumn="codPlacaVeiculo" style="min-width: 110px; font-size: 13px;">
                        Veículo <p-sortIcon field="codPlacaVeiculo"></p-sortIcon>
                    </th>
                    <th class="cabecalho" pSortableColumn="codSubLotacaoVeiculo"
                        style="min-width: 170px; font-size: 13px;">
                        Sublotação veículo <p-sortIcon field="codSubLotacaoVeiculo"></p-sortIcon>
                    </th>
                    <th class="cabecalho" pSortableColumn="veiculoConsultaCompletaDTO.marcaModeloDTO.nome"
                        style="min-width: 150px; font-size: 13px;">
                        Marca / Modelo <p-sortIcon field="veiculoConsultaCompletaDTO.marcaModeloDTO.nome"></p-sortIcon>
                    </th>
                    <th class="cabecalho" pSortableColumn="inicioVinculacao" style="min-width: 150px; font-size: 13px;">
                        Início do vínculo <p-sortIcon field="inicioVinculacao"></p-sortIcon>
                    </th>
                    <th class="cabecalho" pSortableColumn="fimVinculacao" style="min-width: 150px; font-size: 13px;">
                        Fim do vínculo <p-sortIcon field="fimVinculacao"></p-sortIcon>
                    </th>

                    <th class="cabecalho" pSortableColumn="" style="min-width: 110px; font-size: 13px;">
                        Status <p-sortIcon field=""></p-sortIcon>
                    </th>
                    <th style="min-width: 110px; font-size: 13px;">Ações</th>

                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-veiculoMotorista let-expanded="expanded">
                <tr>
                    <td>

                    </td>
                    <td class="table-cell table-cell-large" style="font-size: 12px;">
                        {{ veiculoMotorista.motoristaDTO.pessoa.nome }}
                    </td>
                    <td class="table-cell table-cell-large" style="font-size: 12px;">
                        {{ veiculoMotorista.codSubLotacaoMotorista}}
                    </td>
                    <td class="table-cell table-cell-large" style="font-size: 12px;">
                        {{ veiculoMotorista.codPlacaVeiculo }}
                    </td>
                    <td class="table-cell table-cell-large" style="font-size: 12px;">
                        {{ veiculoMotorista.codSubLotacaoVeiculo }}
                    </td>
                    <td class="table-cell table-cell-large" style="font-size: 12px;">
                        {{ veiculoMotorista.veiculoConsultaCompletaDTO.marcaModeloDTO.nome }}
                    </td>
                    <td class="table-cell table-cell-large" style="font-size: 12px;">
                        {{ formatarData(veiculoMotorista.inicioVinculacao) }}
                    </td>
                    <td class="table-cell table-cell-large" style="font-size: 12px;">
                        {{ veiculoMotorista.fimVinculacao ? formatarData(veiculoMotorista.fimVinculacao) : '' }}
                    </td>
                    <td class="table-cell table-cell-large" style="font-size: 12px;">
                        <span class="p-badge p-component"
                            style="background-color:{{ getStatus(veiculoMotorista.fimVinculacao) == 'Vigente' ? 'rgb(8, 105, 8)' : '#838383' }}">
                            {{ getStatus(veiculoMotorista.fimVinculacao) }}
                        </span>
                    </td>

                    <td class="table-cell table-cell-large" style="font-size: 12px;">
                        <p-button class="custom-button" (onClick)="chamarModal(veiculoMotorista.id)"
                            [disabled]="getStatus(veiculoMotorista.fimVinculacao) === 'Encerrada'">
                            <i class="fa-solid fa-power-off"></i>
                        </p-button>
                    </td>


                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="mostrarDialogo" [modal]="true" [style]="{ width: '35rem' }">
        <div class="flex align-items-center justify-content-center flex-column">
            <i class="pi pi-power-off" style="font-size: 3rem; color: black; margin-bottom: 10px;"></i>

            <strong>
                <p style="font-size: 16px; margin-bottom: 4px;">Encerramento de vínculo entre motorista e veículo.</p>
            </strong>

            <p class="text-center" style="font-size: 15px; margin-bottom: 4px;">
                Informe a data final do vínculo e clique em Encerrar. Caso queira desistir da ação, clique em Cancelar.
            </p>
            <p-calendar [iconDisplay]="'input'" dateFormat="dd/mm/yy" placeholder="Informe a data final do vínculo"
                appendTo="body" [showIcon]="true" [(ngModel)]="veiculoMotoristaEditar.fimVinculacao"
                styleClass="w-full">
            </p-calendar>



            <div class="flex justify-content-center gap-2" style="margin-top: 20px;">
                <p-button label="CANCELAR" (onClick)="cancelar()" styleClass="cancel-button"></p-button>
                <p-button label="ENCERRAR VÍNCULO" (onClick)="updateVeiculoMotorista()" severity="success"
                    styleClass="encerrar-button"></p-button>
            </div>
        </div>
    </p-dialog>

</p-card>