@import url("./paleta.css");

.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: var(--cor-primaria);
    background: var(--cor-primaria);
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: var(--cor-primaria);
    background: var(--cor-primaria);
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: var(--cor-primaria);
}