@import url("./paleta.css");

.p-tabview-nav li a,
.p-tabview-nav li a i {
    color: var(--cor-titulo);
}

.p-tabview-nav li a:hover {
    color: var(--cor-titulo);
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    border-color: var(--cor-titulo);
}

.p-tabview .p-tabview-panels {
    padding: 0 1.25rem 1.25rem 1.25rem;
}