<div class="custom-margin">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</div>

<p-card class="custom-card-margin">

    <form [formGroup]="informacoesForm" (ngSubmit)="consultarPorMatricula()">
        <div class="d-flex align-items-center mt-0">
            <h1 style="color: #1C5638; font-size: 18px; margin-top: -50px; margin-left: -5px; text-wrap:nowrap">
                <strong *ngIf="!id">1. Identifique o novo motorista</strong>
                <strong *ngIf="id">1. Identificação do motorista</strong>
            </h1>
            <div class="flex-grow-1 mx-5" style="position: relative; top: -30px; margin-left: 60px;width: 100%;">
                <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
            </div>
        </div>

        <div class="mt-0" *ngIf="!id">
            <label for="cpf" class="form-label">Informe o número de CPF do motorista*</label>
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div style="display: flex; align-items: center; margin-bottom: 0.5rem;">
                    <input type="text"
                     pInputText id="cpf"
                      class="form-control input-pequeno mt-1"
                       formControlName="cpf"
                        style="width: 300px; margin-right: 10px;"
                         placeholder="Digite um CPF (11 caracteres)" 
                        (input)="onCpfInput($event)">

                    <p-button label="BUSCAR" [outlined]="true" severity="success" type="button"
                        (click)="consultarPorCPF()">
                    </p-button>
                </div>
                <div *ngIf="informacoesForm.get('cpf').touched">
                    <small class="p-error" *ngIf="informacoesForm.get('cpf').hasError('required')">
                        O campo CPF é obrigatório.
                    </small>
                    <small class="p-error"
                        *ngIf="informacoesForm.get('cpf').hasError('minlength') || informacoesForm.get('cpf').hasError('maxlength')">
                        O campo deve conter exatamente 11 caracteres.
                    </small>
                </div>


            </div>
        </div>
    </form>

    <!-- Exibição dos dados da pessoa -->
    <div style="display: flex;">
        <div *ngIf="pessoa" style="margin-left: 5px; margin-top: 1rem; margin-right: 65px;">
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;" *ngIf="id"><strong>Matricula:</strong>
                {{ motorista.matricula }}</p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Nome:</strong> {{ pessoa.nome }}
            </p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>CPF:</strong> {{
                pessoa.codigoPessoa }}</p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>RG:</strong> {{
                pessoa.identidade }}</p>
        </div>
        <div *ngIf="pessoa" style="margin-left: 18px; margin-top: 1rem;">
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>CEP:</strong> {{ pessoa.cep }}
            </p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Endereço:</strong> {{
                getEnderecoCompleto() }}</p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Complemento:</strong> {{
                pessoa.complemento }}</p>
        </div>
    </div>
</p-card>


<p-card *ngIf="pessoa" class="no-top">

    <form [formGroup]="informacoesForm">
        <div class="d-flex align-items-center mt-0">
            <h1 style="color: #1C5638; font-size: 18px; margin-top: -50px; margin-left: -5px; text-wrap:nowrap">
                <strong *ngIf="!id">2. Preencha informações adicionais do motorista</strong>
                <strong *ngIf="id">2. Edite as informações do motorista</strong>
            </h1>
            <div class="flex-grow-1 mx-5" style="position: relative; top: -30px; margin-left: 60px;width: 100%;">
                <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
            </div>
        </div>

        <div class="p-fluid grid formgrid">
            <div class="field col-4 custom-field">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="cnh">Matrícula*</label>
                <input type="text" pInputText formControlName="matricula" placeholder="Digite a Matrícula" maxlength="8"
                    (input)="onMatriculaInput($event)" required>
                <div
                    *ngIf="informacoesForm.get('matricula').invalid && (informacoesForm.get('matricula').dirty || informacoesForm.get('matricula').touched)">
                    <small class="p-error">
                        <ng-container *ngIf="informacoesForm.get('matricula').hasError('required')">Matrícula é
                            obrigatória.</ng-container>
                        <ng-container *ngIf="informacoesForm.get('matricula').hasError('invalidMatricula')">Matrícula
                            deve conter
                            entre 4 e 8 caracteres.</ng-container>
                    </small>
                </div>

            </div>

            <div class="field col-4 custom-field">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="cnh">CNH*</label>
                <input type="text" pInputText formControlName="cnh" placeholder="Digite a CNH" maxlength="11"
                    (input)="onCnhInput($event)" required>
                <div
                    *ngIf="informacoesForm.get('cnh').invalid && (informacoesForm.get('cnh').dirty || informacoesForm.get('cnh').touched)">
                    <small class="p-error">
                        <ng-container *ngIf="informacoesForm.get('cnh').hasError('required')">CNH é
                            obrigatória. Apenas dígitos numéricos.</ng-container>
                        <ng-container *ngIf="informacoesForm.get('cnh').hasError('invalidCnh')">CNH deve conter
                            exatamente 11 dígitos numéricos.</ng-container>
                    </small>
                </div>
            </div>

            <div class="field col-4 custom-field">
                <label style="font-size: 13px;color: rgb(43, 42, 42);">Categoria CNH*</label>
                <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="codCategoriaCnh"
                    [options]="treeData" optionLabel="label" optionValue="key" formControlName="codCategoriaCnh"
                    placeholder="Selecione uma categoria">
                </p-treeSelect>
                <div
                    *ngIf="informacoesForm.get('codCategoriaCnh').hasError('required') && (informacoesForm.get('codCategoriaCnh').dirty || informacoesForm.get('codCategoriaCnh').touched)">
                    <small class="p-error">Categoria CNH deve ser informada.</small>
                </div>
            </div>

            <div class="field col-3 custom-field">
                <label style="font-size: 13px;color: rgb(43, 42, 42);">Validade CNH*</label>
                <p-calendar [showIcon]="true" [iconDisplay]="'input'" dateFormat="dd/mm/yy"
                    placeholder="Selecione uma data" formControlName="validadeCnh" [locale]="ptBr"
                    (input)="formatarData($event)" [showOnFocus]="false">
                </p-calendar>
                <div
                    *ngIf="informacoesForm.get('validadeCnh').invalid && (informacoesForm.get('validadeCnh').dirty || informacoesForm.get('validadeCnh').touched)">
                    <small class="p-error">Validade da CNH é obrigatória.</small>
                </div>
            </div>

            <div class="field col-4 custom-field">
                <label style="font-size: 13px;color: rgb(43, 42, 42);">Lotação*</label>
                <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="lotacao"
                    [options]="orgaosLocais" optionLabel="label" optionValue="key" formControlName="lotacao"
                    placeholder="Selecione uma lotação" selectionMode="single" [filter]="true"
                    filterPlaceholder="Digite para filtrar">
                </p-treeSelect>
                <div
                    *ngIf="informacoesForm.get('lotacao').invalid && (informacoesForm.get('lotacao').dirty || informacoesForm.get('lotacao').touched)">
                    <small class="p-error">Lotação é obrigatória.</small>
                </div>
            </div>

            <div class="field col-4 custom-field">
                <label style="font-size: 13px;color: rgb(43, 42, 42);">Sublotação*</label>
                <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="subLotacao"
                    [options]="subOrgaosLocais" optionLabel="label" optionValue="key" formControlName="sublotacao"
                    placeholder="Selecione uma sublotação" selectionMode="single" [filter]="true"
                    filterPlaceholder="Digite para filtrar">
                </p-treeSelect>
                <div
                    *ngIf="informacoesForm.get('sublotacao').invalid && (informacoesForm.get('sublotacao').dirty || informacoesForm.get('sublotacao').touched)">
                    <small class="p-error">Sublotação é obrigatória.</small>
                </div>
            </div>

            <div class="field col-3 custom-field">
                <label style="font-size: 13px;color: rgb(43, 42, 42);">Telefone*</label>

                <p-inputMask mask="(99)99999-9999" formControlName="numTelefone" placeholder="(99)99999-9999"
                    required />
                <div
                    *ngIf="informacoesForm.get('numTelefone').invalid && (informacoesForm.get('numTelefone').dirty || informacoesForm.get('numTelefone').touched)">
                    <small class="p-error">Telefone é obrigatório.</small>
                </div>
            </div>

            <div style="display: flex; flex-wrap: nowrap; gap: 50px; margin: 10;">
                <div class="field col-3" *ngIf="id" style="flex: 1; margin-left: 0px;">
                    <label for="staMotorista">Status do motorista*</label>
                    <p-selectButton [options]="stateOptions" formControlName="staMotorista" optionLabel="label"
                        optionValue="value" class="selectButtonsgf"></p-selectButton>
                </div>
                <div class="field col-3" *ngIf="informacoesForm.get('staMotorista')?.value === 0"
                    style="flex: 1; margin-left: -14px;">
                    <label style="font-size: 13px; color: rgb(43, 42, 42);">Motivo da inatividade*</label>
                    <p-treeSelect [options]="inatividadeOptions" formControlName="codAfastamento" optionLabel="label"
                        optionValue="value"></p-treeSelect>
                </div>
                <div class="field col-3" *ngIf="informacoesForm.get('staMotorista')?.value === 0" style="flex: 1;">
                    <label style="font-size: 13px;color: rgb(43, 42, 42);">Data início inatividade*</label>
                    <p-calendar [showIcon]="true" [iconDisplay]="'input'" dateFormat="dd/mm/yy"
                        placeholder="Selecione uma data" formControlName="datIniAfastamento"
                        (input)="formatarData($event)">
                    </p-calendar>
                </div>

                <div class="field col-3 custom-field" *ngIf="informacoesForm.get('staMotorista')?.value === 0"
                    style="flex: 1;">
                    <label style="font-size: 13px;color: rgb(43, 42, 42);">Data fim inatividade*</label>
                    <p-calendar [showIcon]="true" [iconDisplay]="'input'" dateFormat="dd/mm/yy"
                        placeholder="Selecione uma data" formControlName="datFimAfastamento"
                        (onSelect)="onDateFimSelect()"> <!-- Mudei o evento para onSelect -->
                    </p-calendar>

                    <div *ngIf="informacoesForm.get('datFimAfastamento')?.errors?.dataInvalida">
                        <small class="p-error">Data fim é menor que a data início.</small>
                    </div>
                </div>

            </div>
        </div>

        <div *ngIf="vinculosAtivos && vinculosAtivos.length > 0" class="alert-message-container">
            <div class="alert-message-box">
                <p class="alert-message-text">
                    <strong>Atenção!</strong> Ao confirmar o afastamento, o vínculo do motorista com o veículo
                    {{ formatarPlaca(vinculosAtivos[0].veiculo.placa) }} ({{ vinculosAtivos[0].inicioVinculacao | date:
                    'dd/MM/yyyy' }}
                    a
                    {{ vinculosAtivos[0].fimVinculacao ? (vinculosAtivos[0].fimVinculacao | date: 'dd/MM/yyyy') :
                    'Ativo' }}) será encerrado.
                </p>
            </div>
        </div>

        <div *ngIf="isAfastamentoInvalido" class="alert alert-danger">
            <strong>Atenção!</strong> {{ mensagemErroAfastamento }}
          </div>
          


        <div class="container-fluid">
            <div class="container-fluid d-flex justify-content-end p-5 mb-1" style="margin-left:50px ;">
                <p-button *ngIf="!id" label="LIMPAR" [text]="true" [raised]="true" (click)="resetForm()" class="mx-2"
                    severity="success" />

                <p-button label="Cadastrar" *ngIf="!id" type="button" (click)="salvarMotorista()"
                    [disabled]="informacoesForm.invalid || !informacoesForm.touched " severity="success" />


                <p-button label="Salvar" *ngIf="id" type="button" (onClick)="editarMotorista()"
                    [disabled]="informacoesForm.invalid || !informacoesForm.dirty || isAfastamentoInvalido || isButtonDisabled"
                    severity="success" />


            </div>
        </div>

        <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }">
            <div class="flex align-items-center justify-content-center flex-column">
                <i class="pi pi-verified" style="font-size: 3rem; color: green; margin-bottom: 10px;"></i>
                <strong *ngIf="!id">
                    <p>Motorista cadastrado com sucesso!</p>
                </strong>
                <strong *ngIf="id">
                    <p>Motorista editado com sucesso!</p>
                </strong>
                <p>O que deseja fazer agora?</p>
                <div class="flex justify-content-end gap-2">
                    <p-button label="Ir para lista de motoristas" [text]="true" severity="success"
                        (onClick)="irParaListaDeMotoristas()" />
                    <p-button label="Cadastrar novo motorista" severity="success"
                        (onClick)="cadastrarNovoMotorista()" />
                </div>
            </div>
        </p-dialog>

    </form>


</p-card>