.divider {
    flex-grow: 1;
    margin-left: 60px;
    margin-right: 60px;
    height: 45px;
}

:host ::ng-deep .custom-button{
    background-color:transparent !important;
  }

:host ::ng-deep   .custom-button .p-button{
    padding: 6px 8px;
    background-color:rgb(255,165,0);
    border-color:rgb(255,165,0);
  }

  :host ::ng-deep  .flex {
    display: flex !important;
    margin-top: -3rem;
}

.p-button {
  border-radius: 7px;
  text-transform: initial;
  padding: 10px 10px;  
  font-size: 1rem; 
  height: auto;     
  width: auto;  
  margin-right: 20px;     
}

.spinner-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  margin-top: -270px; 
}

:host ::ng-deep .p-progress-spinner-circle {
    stroke: green !important;
}
