<div class="custom-margin">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</div>

<p-card class="custom-card-margin">
    <form [formGroup]="clienteForm" (ngSubmit)="salvarCliente()">
        <div class="d-flex align-items-center mt-0">
            <h1 style="color: #1C5638; font-size: 18px; margin-top: -50px; margin-left: -5px; text-wrap: nowrap;">
                <strong>Cadastrar Cliente</strong>
            </h1>
            <div class="flex-grow-1 mx-5" style="position: relative; top: -30px; margin-left: 60px;width: 100%;">
                <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
            </div>
        </div>

        <!-- Primeira Linha: CNPJ e Nome da Empresa -->
        <div class="row mt-3">
            <div class="col-md-6">
                <label for="cnpj" class="form-label">CNPJ*</label>
                <input id="cnpj" pInputText type="text" class="form-control input-pequeno" formControlName="cnpj"
                    disabled />
            </div>
            <div class="col-md-6">
                <label for="nome" class="form-label">Nome da Empresa*</label>
                <input id="nome" pInputText type="text" class="form-control input-pequeno" formControlName="nome"
                    disabled />
            </div>
        </div>

        <!-- Segunda Linha: Telefone e Email -->
        <div class="row mt-3">
            <div class="col-md-6">
                <label for="telefone" class="form-label">Telefone</label>
                <input id="telefone" pInputText type="text" class="form-control input-pequeno"
                    formControlName="telefone" />
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">E-mail</label>
                <input id="email" pInputText type="email" class="form-control input-pequeno" formControlName="email" />
            </div>
        </div>

        <!-- Terceira Linha: Honorário e Vencimento -->
        <div class="row mt-3">
            <div class="col-md-6">
                <label for="honorario" class="form-label">Valor do Honorário*</label>
                <input id="honorario" pInputText type="number" class="form-control input-pequeno"
                    formControlName="honorario" required />
            </div>
            <div class="col-md-6">
                <label for="vencimento" class="form-label">Data de Vencimento*</label>
                <input id="vencimento" pInputText type="date" class="form-control input-pequeno"
                    formControlName="vencimento" required />
            </div>
        </div>

        <!-- Quarta Linha: Ordem de Pagamento -->
        <div class="row mt-3">
            <div class="col-md-6">
                <label for="pagamento" class="form-label">Ordem de Pagamento*</label>
                <p-dropdown id="pagamento" [options]="tiposPagamento" formControlName="pagamento"
                    placeholder="Selecione" style="width: 100%;" />
            </div>
        </div>

        <!-- Botões -->
        <div class="d-flex justify-content-end mt-4">
            <p-button label="Cancelar" class="custom-cancel-button mx-2" type="button" (click)="cancelar()" />
            <p-button label="Salvar Cliente" icon="pi pi-check" class="custom-save-button" type="submit" />
        </div>
    </form>
</p-card>