:host ::ng-deep .p-card .p-card-body {
    padding: 2rem !important;
    margin-top: -70px;
}

:host ::ng-deep .p-card {
    border-radius: 10px;
    width: 90%;
    margin-left: 70px;
    margin-top: 6rem;
}

:host ::ng-deep .mt-0 {
    margin-top: -0.3rem !important;
}

.custom-margin {
    margin-top: 40px;
    margin-left: 60px;
}

:host ::ng-deep .p-inputtext {
    font-size: 0.85rem;
    color: #4b5563;
    background: #ffffff;
    padding: 0.45rem 0.45rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
}

:host ::ng-deep .p-dropdown {
    width: 100%;
}

