<div class="custom-margin">
  <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</div>

<p-card class="custom-card-margin;">
  <form [formGroup]="veiculoForm">
    <div class="d-flex align-items-center mt-0">
      <h1 style="color: #1C5638; font-size: 18px; margin-top: -50px; margin-left: -5px; text-wrap:nowrap">
        <strong *ngIf="!id">1. Identifique o novo veículo</strong>
        <strong *ngIf="id">1. Identificação do veículo</strong>
      </h1>
      <div class="flex-grow-1 mx-5" style="position: relative; top: -30px; margin-left: 60px;width: 100%;">
        <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
      </div>
    </div>

    <div class="mt-0" *ngIf="!id">
      <label for="placa" class="form-label" style="font-size: 13px; color: rgb(43, 42, 42);">Placa do veículo*</label>
      <div style="display: flex; flex-direction: column; align-items: flex-start;">
        <div style="display: flex; align-items: center; margin-bottom: 0.5rem;">
          <input type="text" pInputText id="placa" class="form-control input-pequeno mt-1" formControlName="placa"
            style="width: 300px; margin-right: 10px;" maxlength="7" minlength="7"
            pattern="^[A-Z]{3}[0-9][A-Z][0-9]{2}$|^[A-Z]{3}[0-9]{4}$" placeholder="Informe uma placa" required
            (input)="onPlacaInput($event)">
          <p-button label="BUSCAR" [outlined]="true" severity="success" type="button" (click)="consultarPelaPlaca()" />
        </div>

        <div *ngIf="veiculoForm.get('placa').touched">
          <small class="p-error" *ngIf="veiculoForm.get('placa').hasError('required')">
            O campo placa é obrigatório.
          </small>
          <small class="p-error"
            *ngIf="veiculoForm.get('placa').hasError('minlength') || veiculoForm.get('placa').hasError('maxlength')">
            O campo deve conter exatamente 7 caracteres.
          </small>
        </div>
      </div>
    </div>
  </form>

  <div style="display: flex;">
    <div *ngIf="cliente" style="margin-left: 5px; margin-top: 1rem; margin-right: 65px;">
      <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Nota fiscal:</strong> {{
        cliente.notaFiscal?.numero }}</p>
      <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Data da compra:</strong> {{
        cliente.notaFiscal?.dataEmissao | date:'dd/MM/yyyy'}}</p>
      <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Valor da compra:</strong> {{
        cliente.notaFiscal?.valor | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</p>
      <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>CNPJ da revendedora:</strong> {{
        cliente.notaFiscal?.cnpjEmitente }}</p>
    </div>

    <div *ngIf="cliente" style="margin-left: 5px; margin-top: 1rem;">
      <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Placa:</strong> {{ cliente.placa }}
      </p>
      <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Chassi:</strong> {{ cliente.chassi }}
      </p>
      <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Renavam:</strong> {{ cliente.renavam
        }}</p>
      <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Marca e Modelo:</strong> {{
        cliente.descricaoMarcaModelo }}</p>
      <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Cor:</strong> {{ cliente.descricaoCor
        }}</p>
    </div>

    <div *ngIf="cliente" style="margin-left: 55px; margin-top: 1rem;">
      <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Categoria:</strong> {{
        getCategoriaLabel(cliente.tipoCategoria)}}</p>
      <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Tipo:</strong> {{
        getTipoVeiculoDescricao(cliente.tipoVeiculo) }}</p>
      <p class="mb-1-custom text-nowrap" style="font-size: 12px; margin-bottom: 2px;">
        <strong>Capacidade/Potência/Cilindrada:</strong>
        {{ cliente.quantidadePassageiros }} /
        {{cliente.potencia }} /
        {{ cliente.cilindrada }}
      </p>
      <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Tipo de Combustível:</strong> {{
        getTipoCombustivel(cliente.tipoCombustivel) }}</p>
      <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 2px;"><strong>Ano da Fabricação:</strong> {{
        cliente.anoFabricacao }}</p>
    </div>
  </div>
</p-card>

<p-card *ngIf="cliente" class="no-top mt-4">
  <form [formGroup]="veiculoForm">
    <div class="d-flex align-items-center mt-0">
      <h1 style="color: #1C5638; font-size: 18px; margin-top: -50px; margin-left: -5px; text-wrap:nowrap">
        <strong *ngIf="!id">2. Preencha informações adicionais do veículo</strong>
        <strong *ngIf="id">2. Edite as informações do veículo</strong>
      </h1>
      <div class="flex-grow-1 mx-5" style="position: relative; top: -30px; margin-left: 60px;width: 100%;">
        <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
      </div>
    </div>

    <div class="p-fluid grid formgrid">
      <div class="field col-4">
        <label style="font-size: 13px; color: rgb(43, 42, 42);" for="capacidadeTanque">Capacidade do tanque*</label>
        <input type="text" pInputText id="capacidadeTanque" formControlName="capacidadeTanque"
          placeholder="Informe a capacidade do tanque" mask="9999" suffix=" L" />
        <div
          *ngIf="veiculoForm.get('capacidadeTanque').invalid && (veiculoForm.get('capacidadeTanque').dirty || veiculoForm.get('capacidadeTanque').touched)">
          <small class="p-error">Capacidade do tanque é obrigatória.</small>
        </div>
      </div>

      <div class="field col-4">
        <label style="font-size: 13px;color: rgb(43, 42, 42);" for="consumoCombustivel">Consumo do fabricante por
          litro*</label><input type="text" pInputText id="consumoCombustivel" formControlName="consumoCombustivel"
          placeholder="Insira o consumo do veículo" (input)="onConsumoInput($event)" maxlength="4" />

        <div
          *ngIf="veiculoForm.get('consumoCombustivel').hasError('required') && (veiculoForm.get('consumoCombustivel').dirty || veiculoForm.get('consumoCombustivel').touched)">
          <small class="p-error">Consumo do fabricante é obrigatório.</small>
        </div>
        <div
          *ngIf="veiculoForm.get('consumoCombustivel').hasError('fiveConsecutiveNumbers') && (veiculoForm.get('consumoCombustivel').dirty || veiculoForm.get('consumoCombustivel').touched)">
          <small class="p-error">O campo só pode conter 4 números</small>
        </div>
      </div>

      <div class="field col-4">
        <label style="font-size: 13px; color: rgb(43, 42, 42);" for="codPropriedade">Código de propriedade*</label>
        <input type="text" pInputText id="codPropriedade" formControlName="codPropriedade"
          placeholder="Código de propriedade" [disabled]="true" class="w-full">
        <div
          *ngIf="veiculoForm.get('codPropriedade').hasError('required') && (veiculoForm.get('codPropriedade').dirty || veiculoForm.get('codPropriedade').touched)">
          <small class="p-error">O tipo de propriedade é obrigatório.</small>
        </div>
      </div>

      <div class="field col-4">
        <label style="font-size: 13px; color: rgb(43, 42, 42);" for="estadoConservacao">Estado de conservação*</label>
        <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="estadoConservacao"
          [options]="treeDataEstadoConservacao" optionLabel="label" optionValue="key"
          formControlName="estadoConservacao" placeholder="Selecione o estado de conservação">
        </p-treeSelect>
        <div
          *ngIf="veiculoForm.get('estadoConservacao').hasError('required') && (veiculoForm.get('estadoConservacao').dirty || veiculoForm.get('estadoConservacao').touched)">
          <small class="p-error">Estado de conservação é obrigatório.</small>
        </div>
      </div>

      <div class="field col-4">
        <label style="font-size: 13px; color: rgb(43, 42, 42);" for="quilometragemInicial">Quilometragem
          inicial*</label>
        <input type="text" pInputText id="quilometragemInicial" formControlName="quilometragemInicial"
          placeholder="Insira a quilometragem atual" mask="separator" thousandSeparator="." suffix=" KM"
          maxlength="15" />
        <div
          *ngIf="veiculoForm.get('quilometragemInicial').invalid && (veiculoForm.get('quilometragemInicial').dirty || veiculoForm.get('quilometragemInicial').touched)">
          <small class="p-error">Quilometragem inicial é obrigatória.</small>
        </div>
      </div>

      <div class="field col-4">
        <label style="font-size: 13px;color: rgb(43, 42, 42);" for="tombo">Tombo*</label>
        <input type="text" pInputText id="tombo" formControlName="tombo" maxlength="6"
          (keypress)="validateTombo($event)" (input)="formatTombo($event)" placeholder="Insira o número de tombo" />
        <div
          *ngIf="veiculoForm.get('tombo').invalid && (veiculoForm.get('tombo').dirty || veiculoForm.get('tombo').touched)">
          <small class="p-error">Tombo é obrigatório.</small>
        </div>
      </div>

      <div class="field col-2">
        <label style="font-size: 13px; color: rgb(43, 42, 42);" for="codApropriacao">Apropriação*</label>
        <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="codApropriacao"
          [options]="treeDataApropriacao" optionLabel="label" optionValue="key" formControlName="codApropriacao"
          placeholder="Selecione a apropriação">
        </p-treeSelect>
        <div
          *ngIf="veiculoForm.get('codApropriacao').hasError('required') && (veiculoForm.get('codApropriacao').dirty || veiculoForm.get('codApropriacao').touched)">
          <small class="p-error">Apropriação é obrigatório.</small>
        </div>
      </div>

      <div class="field col-2">
        <label style="font-size: 13px; color: rgb(43, 42, 42);" for="statusVeiculo">Status veículo*</label>
        <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="statusVeiculo"
          [options]="treeDataStatusVeiculo" optionLabel="label" optionValue="key" formControlName="statusVeiculo"
          placeholder="Selecione o status do veículo">
        </p-treeSelect>
        <div
          *ngIf="veiculoForm.get('statusVeiculo').hasError('required') && (veiculoForm.get('statusVeiculo').dirty || veiculoForm.get('statusVeiculo').touched)">
          <small class="p-error">Status é obrigatório.</small>
        </div>
      </div>

      <div class="field col-4">
        <label style="font-size: 13px;color: rgb(43, 42, 42);" for="orgaoLotacao">Lotação de origem*</label>
        <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="orgaoLotacao" [options]="orgaosLocais"
          optionLabel="label" optionValue="key" formControlName="orgaoLotacao" placeholder="Selecione uma lotação"
          selectionMode="single" [filter]="true" filterPlaceholder="Digite para filtrar">
        </p-treeSelect>
        <div
          *ngIf="veiculoForm.get('orgaoLotacao').hasError('required') && (veiculoForm.get('orgaoLotacao').dirty || veiculoForm.get('orgaoLotacao').touched)">
          <small class="p-error">Lotação é obrigatório.</small>
        </div>
      </div>

      <div class="field col-4">
        <label style="font-size: 13px; color: rgb(43, 42, 42);" for="orgaoSublotacao">Sublotação de origem*</label>
        <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="orgaoSublotacao"
          [options]="subOrgaosLocais" optionLabel="label" optionValue="key" formControlName="orgaoSublotacao"
          placeholder="Selecione uma sublotação" selectionMode="single" [filter]="true"
          filterPlaceholder="Digite para filtrar">
        </p-treeSelect>
        <div
          *ngIf="veiculoForm.get('orgaoSublotacao').invalid && (veiculoForm.get('orgaoSublotacao').dirty || veiculoForm.get('orgaoSublotacao').touched)">
          <small class="p-error">Sublotação é obrigatória.</small>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container-fluid d-flex justify-content-end p-5 mb-1" style="margin-left:50px;">
        <p-button *ngIf="!id" label="LIMPAR" [text]="true" [raised]="true" (click)="resetForm()" class="mx-2"
          severity="success" />
        <p-button label="Cadastrar" *ngIf="!id" type="button" (onClick)="salvarVeiculo()"
          [disabled]="veiculoForm.invalid || !veiculoForm.dirty" severity="success" />
        <p-button label="Salvar" *ngIf="id" type="button" (onClick)="editarVeiculo()" severity="success"
          [disabled]="!veiculoForm.dirty || !veiculoForm.valid" />
        <p-button label="Editar Placa" severity="info" (click)="abrirModalEditarPlaca()" />
      </div>
    </div>

    <!-- Modal de edição da placa -->
    <p-dialog [modal]="true" [(visible)]="visibleEditarPlaca" [style]="{ width: '40rem' }" class="p-dialog-centered"
      [closable]="true" [focusOnShow]="false">
      <div class="flex align-items-center justify-content-center flex-column" style="text-align: center;">
        <h3>Editar Placa</h3>
        <p>Atualize a placa do veículo para o padrão Mercosul.</p>
        <form [formGroup]="veiculoForm">
          <div class="p-field">
            <label for="novaPlaca">Nova Placa:</label>
            <input id="novaPlaca" pInputText formControlName="novaPlaca" maxlength="7" />
            <small *ngIf="veiculoForm?.get('novaPlaca')?.invalid && veiculoForm?.get('novaPlaca')?.touched" class="p-error">
              Placa inválida!
            </small>

          </div>
        </form>
        <div class="flex justify-content-center gap-3" style="margin-top: 1.5rem;">
          <p-button label="Salvar" (click)="salvarNovaPlaca()" severity="success" [disabled]="veiculoForm.invalid" />
          <p-button label="Cancelar" (click)="fecharModalEditarPlaca()" severity="secondary" />
        </div>
      </div>
    </p-dialog>


    <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }" class="p-dialog-centered"
      [closable]="false" [focusOnShow]="false">
      <div class="flex align-items-center justify-content-center flex-column" style="text-align: center;">
        <i class="pi pi-verified" style="font-size: 3rem; color: green; margin-bottom: 1rem;"></i>
        <strong>
          <p>Veículo cadastrado com sucesso!</p>
        </strong>
        <p>O que deseja fazer agora?</p>
        <div class="flex justify-content-center gap-3" style="margin-top: 1.5rem;">
          <p-button label="Ir para lista de veículos" [text]="true" severity="success"
            (onClick)="irParaListaDeVeiculos()" />
          <p-button label="Cadastrar novo veículo" severity="success" (onClick)="cadastrarNovoVeiculo()" />
        </div>
      </div>
    </p-dialog>
  </form>
</p-card>