<div class="custom-margin">
  <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</div>

<p-card class="custom-card-margin;">
  <form [formGroup]="cnpjForm">
    <div class="d-flex align-items-center mt-0">
      <h1 style="color: #1C5638; font-size: 18px; margin-top: -50px; margin-left: -5px; text-wrap: nowrap;">
        <strong>Pesquise pelo CNPJ</strong>
      </h1>
      <div class="flex-grow-1 mx-5" style="position: relative; top: -30px; margin-left: 60px;width: 100%;">
        <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
      </div>
    </div>

    <div class="mt-0">
      <label for="cnpj" class="form-label" style="font-size: 13px; color: rgb(43, 42, 42);">CNPJ*</label>
      <div style="display: flex; flex-direction: column; align-items: flex-start;">
        <div style="display: flex; align-items: center; margin-bottom: 0.5rem;">
          <input type="text" pInputText id="cnpj" class="form-control input-pequeno mt-1" formControlName="cnpj"
            style="width: 300px; margin-right: 10px;" maxlength="14" minlength="14" placeholder="Informe o CNPJ"
            required>
          <p-button label="BUSCAR" [outlined]="true" severity="success" type="button" (click)="consultarCNPJ()" />
        </div>

        <div *ngIf="cnpjForm.get('cnpj').touched">
          <small class="p-error" *ngIf="cnpjForm.get('cnpj').hasError('required')">
            O campo CNPJ é obrigatório.
          </small>
          <small class="p-error" *ngIf="cnpjForm.get('cnpj').hasError('minlength')">
            O campo deve conter exatamente 14 caracteres.
          </small>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="cliente" class="container">
    <!-- Dados principais organizados em 6 colunas -->
    <div class="row">
      <div class="col-md-2" *ngIf="cliente.status">
        <strong>Status:</strong> {{ cliente.status }}
      </div>
      <div class="col-md-2" *ngIf="cliente.ultimaAtualizacao">
        <strong>Última Atualização:</strong> {{ cliente.ultimaAtualizacao }}
      </div>
      <div class="col-md-2" *ngIf="cliente.cnpj">
        <strong>CNPJ:</strong> {{ cliente.cnpj }}
      </div>
      <div class="col-md-2" *ngIf="cliente.tipo">
        <strong>Tipo:</strong> {{ cliente.tipo }}
      </div>
      <div class="col-md-2" *ngIf="cliente.porte">
        <strong>Porte:</strong> {{ cliente.porte }}
      </div>
      <div class="col-md-2" *ngIf="cliente.nome">
        <strong>Nome:</strong> {{ cliente.nome }}
      </div>
      <div class="col-md-2" *ngIf="cliente.fantasia">
        <strong>Fantasia:</strong> {{ cliente.fantasia }}
      </div>
      <div class="col-md-2" *ngIf="cliente.abertura">
        <strong>Abertura:</strong> {{ cliente.abertura }}
      </div>
      <div class="col-md-2" *ngIf="cliente.naturezaJuridica">
        <strong>Natureza Jurídica:</strong> {{ cliente.naturezaJuridica }}
      </div>
      <div class="col-md-2" *ngIf="cliente.logradouro">
        <strong>Logradouro:</strong> {{ cliente.logradouro }}
      </div>
      <div class="col-md-2" *ngIf="cliente.numero">
        <strong>Número:</strong> {{ cliente.numero }}
      </div>
      <div class="col-md-2" *ngIf="cliente.complemento">
        <strong>Complemento:</strong> {{ cliente.complemento }}
      </div>
      <div class="col-md-2" *ngIf="cliente.cep">
        <strong>CEP:</strong> {{ cliente.cep }}
      </div>
      <div class="col-md-2" *ngIf="cliente.bairro">
        <strong>Bairro:</strong> {{ cliente.bairro }}
      </div>
      <div class="col-md-2" *ngIf="cliente.municipio">
        <strong>Município:</strong> {{ cliente.municipio }}
      </div>
      <div class="col-md-2" *ngIf="cliente.uf">
        <strong>UF:</strong> {{ cliente.uf }}
      </div>
      <div class="col-md-2" *ngIf="cliente.email">
        <strong>Email:</strong> {{ cliente.email }}
      </div>
      <div class="col-md-2" *ngIf="cliente.telefone">
        <strong>Telefone:</strong> {{ cliente.telefone }}
      </div>
      <div class="col-md-2" *ngIf="cliente.capitalSocial">
        <strong>Capital Social:</strong> {{ cliente.capitalSocial }}
      </div>
    </div>

    <!-- Coluna lateral com dados adicionais -->
    <div class="row mt-4">
      <div class="col-md-4">
        <h4>Atividades Principais</h4>
        <ul>
          <li *ngFor="let atividade of cliente.atividadePrincipal">
            <strong>{{ atividade.codigo }}</strong>: {{ atividade.texto }}
          </li>
        </ul>

        <h4>Atividades Secundárias</h4>
        <ul>
          <li *ngFor="let atividade of cliente.atividadesSecundarias">
            <strong>{{ atividade.codigo }}</strong>: {{ atividade.texto }}
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h4>Quadro de Sócios e Administradores (QSA)</h4>
        <ul>
          <li *ngFor="let socio of cliente.qsa">
            <strong>{{ socio.nome }}</strong>: {{ socio.qual }}
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h4>Simples Nacional</h4>
        <p *ngIf="cliente.simples?.opcao"><strong>Opção:</strong> {{ cliente.simples.opcao ? 'Sim' : 'Não' }}</p>
        <p *ngIf="cliente.simples?.dataOpcao"><strong>Data de Opção:</strong> {{ cliente.simples.dataOpcao }}</p>
        <p *ngIf="cliente.simples?.dataExclusao"><strong>Data de Exclusão:</strong> {{ cliente.simples.dataExclusao }}
        </p>

        <h4>SIMEI</h4>
        <p *ngIf="cliente.simei?.opcao"><strong>Opção:</strong> {{ cliente.simei.opcao ? 'Sim' : 'Não' }}</p>

        <h4>Billing</h4>
        <p *ngIf="cliente.billing?.free"><strong>Free:</strong> {{ cliente.billing.free ? 'Sim' : 'Não' }}</p>
        <p *ngIf="cliente.billing?.database"><strong>Database:</strong> {{ cliente.billing.database ? 'Sim' : 'Não' }}
        </p>
      </div>
    </div>
  </div>


</p-card>

<p-card class="custom-card-margin">
  <form [formGroup]="sintegraForm">
    <div class="d-flex align-items-center mt-0">
      <h1 style="color: #1C5638; font-size: 18px; margin-top: -50px; margin-left: -5px; text-wrap: nowrap;">
        <strong>Consulta Sintegra</strong>
      </h1>
      <div class="flex-grow-1 mx-5" style="position: relative; top: -30px; margin-left: 60px;width: 100%;">
        <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
      </div>
    </div>

    <div class="mt-0">
      <label for="cnpj" class="form-label" style="font-size: 13px; color: rgb(43, 42, 42);">CNPJ*</label>
      <div style="display: flex; flex-direction: column; align-items: flex-start;">
        <div style="display: flex; align-items: center; margin-bottom: 0.5rem;">
          <input type="text" pInputText id="cnpj" class="form-control input-pequeno mt-1" formControlName="cnpj"
            style="width: 300px; margin-right: 10px;" maxlength="14" minlength="14" placeholder="Informe o CNPJ"
            required>
        </div>

        <label for="uf" class="form-label"
          style="font-size: 13px; color: rgb(43, 42, 42); margin-top: 10px;">UF*</label>
        <div style="display: flex; align-items: center;">
          <select formControlName="uf" id="uf" class="form-control" style="width: 150px;">
            <option value="" disabled selected>Selecione a UF</option>
            <option *ngFor="let estado of ufs" [value]="estado.sigla">{{ estado.nome }}</option>
          </select>
        </div>

        <p-button label="BUSCAR" [outlined]="true" severity="success" type="button" (click)="consultarSintegra()"
          style="margin-top: 10px;" />
      </div>

      <div *ngIf="sintegraForm.get('cnpj').touched">
        <small class="p-error" *ngIf="sintegraForm.get('cnpj').hasError('required')">
          O campo CNPJ é obrigatório.
        </small>
        <small class="p-error" *ngIf="sintegraForm.get('cnpj').hasError('minlength')">
          O campo deve conter exatamente 14 caracteres.
        </small>
      </div>
    </div>
  </form>

  <div *ngIf="sintegraData" class="mt-4">
    <h3>Resultado da Consulta Sintegra</h3>

    <h4>Dados da Empresa</h4>
    <p *ngIf="sintegraData.data[0]?.razao_social"><strong>Razão Social:</strong> {{ sintegraData.data[0]?.razao_social
      }}</p>
    <p *ngIf="sintegraData.data[0]?.cnpj"><strong>CNPJ:</strong> {{ sintegraData.data[0]?.cnpj }}</p>
    <p *ngIf="sintegraData.data[0]?.inscricao_estadual"><strong>Inscrição estadual:</strong> {{ sintegraData.data[0]?.inscricao_estadual }}</p>

    <p *ngIf="sintegraData.data[0]?.atividade_economica"><strong>Atividade Econômica:</strong> {{
      sintegraData.data[0]?.atividade_economica }}</p>
    <p *ngIf="sintegraData.data[0]?.atividade_economica_secundaria"><strong>Atividade Secundária:</strong> {{
      sintegraData.data[0]?.atividade_economica_secundaria }}</p>

    <h4>Endereço</h4>
    <p
      *ngIf="sintegraData.data[0]?.endereco_logradouro || sintegraData.data[0]?.endereco_numero || sintegraData.data[0]?.endereco_complemento || sintegraData.data[0]?.endereco_bairro || sintegraData.data[0]?.endereco_municipio || sintegraData.data[0]?.endereco_uf">
      <strong>Endereço:</strong>
      {{ sintegraData.data[0]?.endereco_logradouro }} {{ sintegraData.data[0]?.endereco_numero }},
      {{ sintegraData.data[0]?.endereco_complemento }},
      {{ sintegraData.data[0]?.endereco_bairro }},
      {{ sintegraData.data[0]?.endereco_municipio }},
      {{ sintegraData.data[0]?.endereco_uf }},
      CEP: {{ sintegraData.data[0]?.endereco_cep }}
    </p>

    <h4>Contato</h4>
    <p *ngIf="sintegraData.data[0]?.telefone"><strong>Telefone:</strong> {{ sintegraData.data[0]?.telefone }}</p>
    <p *ngIf="sintegraData.data[0]?.email"><strong>Email:</strong> {{ sintegraData.data[0]?.email }}</p>

    <h4>Situação Cadastral</h4>
    <p *ngIf="sintegraData.data[0]?.situacao_cadastral"><strong>Situação Cadastral:</strong> {{
      sintegraData.data[0]?.situacao_cadastral }}</p>
    <p *ngIf="sintegraData.data[0]?.situacao_cadastral_data"><strong>Data da Situação Cadastral:</strong> {{
      sintegraData.data[0]?.situacao_cadastral_data }}</p>

    <h4>Informações Financeiras</h4>
    <p *ngIf="sintegraData.data[0]?.capital_social"><strong>Capital Social:</strong> {{
      sintegraData.data[0]?.capital_social }}</p>

    <h4>Outras Informações</h4>
    <p *ngIf="sintegraData.data[0]?.regime_apuracao"><strong>Regime de Apuração:</strong> {{
      sintegraData.data[0]?.regime_apuracao }}</p>
    <p *ngIf="sintegraData.data[0]?.abertura_data"><strong>Data de Abertura:</strong> {{
      sintegraData.data[0]?.abertura_data }}</p>
    <p *ngIf="sintegraData.data[0]?.site_receipt">
      <strong>Site de Referência:</strong>
      <a [href]="sintegraData.data[0]?.site_receipt" target="_blank">Visualizar</a>
    </p>
  </div>


</p-card>


<!-- 
<p-card *ngIf="cliente" class="no-top mt-4">
  <form [formGroup]="veiculoForm">
    <div class="d-flex align-items-center mt-0">
      <h1 style="color: #1C5638; font-size: 18px; margin-top: -50px; margin-left: -5px; text-wrap:nowrap">
        <strong *ngIf="!id">2. Preencha informações adicionais do veículo</strong>
        <strong *ngIf="id">2. Edite as informações do veículo</strong>
      </h1>
      <div class="flex-grow-1 mx-5" style="position: relative; top: -30px; margin-left: 60px;width: 100%;">
        <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
      </div>
    </div>

    <div class="p-fluid grid formgrid">
      <div class="field col-4">
        <label style="font-size: 13px; color: rgb(43, 42, 42);" for="capacidadeTanque">Capacidade do tanque*</label>
        <input type="text" pInputText id="capacidadeTanque" formControlName="capacidadeTanque"
          placeholder="Informe a capacidade do tanque" mask="9999" suffix=" L" />
        <div
          *ngIf="veiculoForm.get('capacidadeTanque').invalid && (veiculoForm.get('capacidadeTanque').dirty || veiculoForm.get('capacidadeTanque').touched)">
          <small class="p-error">Capacidade do tanque é obrigatória.</small>
        </div>
      </div>

      <div class="field col-4">
        <label style="font-size: 13px;color: rgb(43, 42, 42);" for="consumoCombustivel">Consumo do fabricante por
          litro*</label><input type="text" pInputText id="consumoCombustivel" formControlName="consumoCombustivel"
          placeholder="Insira o consumo do veículo" (input)="onConsumoInput($event)" maxlength="4" />

        <div
          *ngIf="veiculoForm.get('consumoCombustivel').hasError('required') && (veiculoForm.get('consumoCombustivel').dirty || veiculoForm.get('consumoCombustivel').touched)">
          <small class="p-error">Consumo do fabricante é obrigatório.</small>
        </div>
        <div
          *ngIf="veiculoForm.get('consumoCombustivel').hasError('fiveConsecutiveNumbers') && (veiculoForm.get('consumoCombustivel').dirty || veiculoForm.get('consumoCombustivel').touched)">
          <small class="p-error">O campo só pode conter 4 números</small>
        </div>
      </div>

      <div class="field col-4">
        <label style="font-size: 13px; color: rgb(43, 42, 42);" for="codPropriedade">Código de propriedade*</label>
        <input type="text" pInputText id="codPropriedade" formControlName="codPropriedade"
          placeholder="Código de propriedade" [disabled]="true" class="w-full">
        <div
          *ngIf="veiculoForm.get('codPropriedade').hasError('required') && (veiculoForm.get('codPropriedade').dirty || veiculoForm.get('codPropriedade').touched)">
          <small class="p-error">O tipo de propriedade é obrigatório.</small>
        </div>
      </div>

      <div class="field col-4">
        <label style="font-size: 13px; color: rgb(43, 42, 42);" for="estadoConservacao">Estado de conservação*</label>
        <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="estadoConservacao"
          [options]="treeDataEstadoConservacao" optionLabel="label" optionValue="key"
          formControlName="estadoConservacao" placeholder="Selecione o estado de conservação">
        </p-treeSelect>
        <div
          *ngIf="veiculoForm.get('estadoConservacao').hasError('required') && (veiculoForm.get('estadoConservacao').dirty || veiculoForm.get('estadoConservacao').touched)">
          <small class="p-error">Estado de conservação é obrigatório.</small>
        </div>
      </div>

      <div class="field col-4">
        <label style="font-size: 13px; color: rgb(43, 42, 42);" for="quilometragemInicial">Quilometragem
          inicial*</label>
        <input type="text" pInputText id="quilometragemInicial" formControlName="quilometragemInicial"
          placeholder="Insira a quilometragem atual" mask="separator" thousandSeparator="." suffix=" KM"
          maxlength="15" />
        <div
          *ngIf="veiculoForm.get('quilometragemInicial').invalid && (veiculoForm.get('quilometragemInicial').dirty || veiculoForm.get('quilometragemInicial').touched)">
          <small class="p-error">Quilometragem inicial é obrigatória.</small>
        </div>
      </div>

      <div class="field col-4">
        <label style="font-size: 13px;color: rgb(43, 42, 42);" for="tombo">Tombo*</label>
        <input type="text" pInputText id="tombo" formControlName="tombo" maxlength="6"
          (keypress)="validateTombo($event)" (input)="formatTombo($event)" placeholder="Insira o número de tombo" />
        <div
          *ngIf="veiculoForm.get('tombo').invalid && (veiculoForm.get('tombo').dirty || veiculoForm.get('tombo').touched)">
          <small class="p-error">Tombo é obrigatório.</small>
        </div>
      </div>

      <div class="field col-2">
        <label style="font-size: 13px; color: rgb(43, 42, 42);" for="codApropriacao">Apropriação*</label>
        <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="codApropriacao"
          [options]="treeDataApropriacao" optionLabel="label" optionValue="key" formControlName="codApropriacao"
          placeholder="Selecione a apropriação">
        </p-treeSelect>
        <div
          *ngIf="veiculoForm.get('codApropriacao').hasError('required') && (veiculoForm.get('codApropriacao').dirty || veiculoForm.get('codApropriacao').touched)">
          <small class="p-error">Apropriação é obrigatório.</small>
        </div>
      </div>

      <div class="field col-2">
        <label style="font-size: 13px; color: rgb(43, 42, 42);" for="statusVeiculo">Status veículo*</label>
        <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="statusVeiculo"
          [options]="treeDataStatusVeiculo" optionLabel="label" optionValue="key" formControlName="statusVeiculo"
          placeholder="Selecione o status do veículo">
        </p-treeSelect>
        <div
          *ngIf="veiculoForm.get('statusVeiculo').hasError('required') && (veiculoForm.get('statusVeiculo').dirty || veiculoForm.get('statusVeiculo').touched)">
          <small class="p-error">Status é obrigatório.</small>
        </div>
      </div>

      <div class="field col-4">
        <label style="font-size: 13px;color: rgb(43, 42, 42);" for="orgaoLotacao">Lotação de origem*</label>
        <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="orgaoLotacao" [options]="orgaosLocais"
          optionLabel="label" optionValue="key" formControlName="orgaoLotacao" placeholder="Selecione uma lotação"
          selectionMode="single" [filter]="true" filterPlaceholder="Digite para filtrar">
        </p-treeSelect>
        <div
          *ngIf="veiculoForm.get('orgaoLotacao').hasError('required') && (veiculoForm.get('orgaoLotacao').dirty || veiculoForm.get('orgaoLotacao').touched)">
          <small class="p-error">Lotação é obrigatório.</small>
        </div>
      </div>

      <div class="field col-4">
        <label style="font-size: 13px; color: rgb(43, 42, 42);" for="orgaoSublotacao">Sublotação de origem*</label>
        <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="orgaoSublotacao"
          [options]="subOrgaosLocais" optionLabel="label" optionValue="key" formControlName="orgaoSublotacao"
          placeholder="Selecione uma sublotação" selectionMode="single" [filter]="true"
          filterPlaceholder="Digite para filtrar">
        </p-treeSelect>
        <div
          *ngIf="veiculoForm.get('orgaoSublotacao').invalid && (veiculoForm.get('orgaoSublotacao').dirty || veiculoForm.get('orgaoSublotacao').touched)">
          <small class="p-error">Sublotação é obrigatória.</small>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container-fluid d-flex justify-content-end p-5 mb-1" style="margin-left:50px;">
        <p-button *ngIf="!id" label="LIMPAR" [text]="true" [raised]="true" (click)="resetForm()" class="mx-2"
          severity="success" />
        <p-button label="Cadastrar" *ngIf="!id" type="button" (onClick)="salvarVeiculo()"
          [disabled]="veiculoForm.invalid || !veiculoForm.dirty" severity="success" />
        <p-button label="Salvar" *ngIf="id" type="button" (onClick)="editarVeiculo()" severity="success"
          [disabled]="!veiculoForm.dirty || !veiculoForm.valid" />
        <p-button label="Editar Placa" severity="info" (click)="abrirModalEditarPlaca()" />
      </div>
    </div>

    Modal de edição da placa
    <p-dialog [modal]="true" [(visible)]="visibleEditarPlaca" [style]="{ width: '40rem' }" class="p-dialog-centered"
      [closable]="true" [focusOnShow]="false">
      <div class="flex align-items-center justify-content-center flex-column" style="text-align: center;">
        <h3>Editar Placa</h3>
        <p>Atualize a placa do veículo para o padrão Mercosul.</p>
        <form [formGroup]="veiculoForm">
          <div class="p-field">
            <label for="novaPlaca">Nova Placa:</label>
            <input id="novaPlaca" pInputText formControlName="novaPlaca" maxlength="7" />
            <small *ngIf="veiculoForm?.get('novaPlaca')?.invalid && veiculoForm?.get('novaPlaca')?.touched" class="p-error">
              Placa inválida!
            </small>

          </div>
        </form>
        <div class="flex justify-content-center gap-3" style="margin-top: 1.5rem;">
          <p-button label="Salvar" (click)="salvarNovaPlaca()" severity="success" [disabled]="veiculoForm.invalid" />
          <p-button label="Cancelar" (click)="fecharModalEditarPlaca()" severity="secondary" />
        </div>
      </div>
    </p-dialog>


    <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }" class="p-dialog-centered"
      [closable]="false" [focusOnShow]="false">
      <div class="flex align-items-center justify-content-center flex-column" style="text-align: center;">
        <i class="pi pi-verified" style="font-size: 3rem; color: green; margin-bottom: 1rem;"></i>
        <strong>
          <p>Veículo cadastrado com sucesso!</p>
        </strong>
        <p>O que deseja fazer agora?</p>
        <div class="flex justify-content-center gap-3" style="margin-top: 1.5rem;">
          <p-button label="Ir para lista de veículos" [text]="true" severity="success"
            (onClick)="irParaListaDeVeiculos()" />
          <p-button label="Cadastrar novo veículo" severity="success" (onClick)="cadastrarNovoVeiculo()" />
        </div>
      </div>
    </p-dialog>
  </form>
</p-card> -->