<div style=" margin-left: 60px; margin-top: 40px;">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</div>

<p-card class="custom-card-margin">
    <form [formGroup]="informacoesForm" (ngSubmit)="prosseguir()">
        <div class="d-flex align-items-center mt-0">
            <h1 style="color: #1C5638; font-size: 18px; margin-top: -50px; margin-left: -5px; text-wrap:nowrap">
                <strong>1. Informe os dados de vinculação</strong>
            </h1>
            <div class="flex-grow-1 mx-5" style="position: relative; top: -30px; margin-left: 60px;width: 100%;">
                <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
            </div>
        </div>


        <div class="p-fluid grid formgrid">
            <div class="field col-4">
                <label style="font-size: 13px;color: rgb(43, 42, 42);" for="motorista">Digite o nome, CPF, ou número de
                    matrícula do motorista*</label>
                <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="motorista"
                    [options]="motoristasTree" optionLabel="label" optionValue="value" formControlName="motorista"
                    placeholder="Selecione um motorista" selectionMode="single" [filter]="true"
                    filterPlaceholder="Digite para filtrar">
                </p-treeSelect>

            </div>




            <div class="field col-4">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="motorista">Digite a placa ou modelo do
                    veículo*</label>
                <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="veiculo"
                    [options]="veiculosTree" optionLabel="label" optionValue="value" formControlName="veiculo"
                    placeholder="Selecione um veículo" selectionMode="single" [filter]="true"
                    filterPlaceholder="Digite para filtrar">
                </p-treeSelect>
            </div>
            <div class="field col-4">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="DataInicio">Data de Inicio da
                    vinculação*</label>
                <p-calendar [showIcon]="true" [iconDisplay]="'input'" dateFormat="dd/mm/yy"
                    placeholder="Selecione uma data" formControlName="dataInicio" ></p-calendar>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-4">
            <button type="submit" pButton label="Prosseguir" class="p-button-success"></button>
        </div>
    </form>
</p-card>

<p-card *ngIf="dadosConfirmados" class="no-top">
    <div class="d-flex align-items-center mt-0">
        <h1 style="color: #1C5638; font-size: 18px; margin-top: -50px; margin-left: -5px; text-wrap:nowrap">
            <strong>2. Confira as informações da vinculação</strong>
        </h1>
        <div class="flex-grow-1 mx-5" style="position: relative; top: -30px; margin-left: 60px;width: 100%;">
            <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
        </div>

    </div>
    <div>
        <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 4px;"> Verifique se as informações a seguir estão
            corretas e clique no botão "Vincular" para concluir a ação
        </p>
    </div>

    <div style="display: flex;">

        <div style="margin-left: 70px; margin-top: 1rem;">
            <p class="mb-1-custom" style="font-size: 18px; margin-bottom: 8px;"><strong>Dados do Motorista</strong></p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 3px;"><strong>Nome: </strong>{{
                motoristaSelecionado?.value?.pessoa?.nome }}
            </p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 3px;"><strong>Categoria CNH: </strong>{{
                motoristaSelecionado?.value?.codCategoriaCnh }}
            </p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 3px;"><strong>Sublotação: </strong>{{
                motoristaSelecionado?.value?.siglaSublotacao }}
            </p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 3px;"><strong>CPF: </strong>{{
                motoristaSelecionado?.value?.pessoa?.codigoPessoa }}
            </p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 3px;"><strong>Telefone: </strong>{{
                motoristaSelecionado?.value?.numTelefone }}
            </p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 3px;"><strong>Endereço: </strong>{{
                motoristaSelecionado?.value?.pessoa?.logradouro + " - "
                + motoristaSelecionado?.value?.pessoa?.bairro + ", " +
                motoristaSelecionado?.value?.pessoa?.nomeMunicipio + " - " + motoristaSelecionado?.value?.pessoa?.nomeUF
                }}
            </p>
        </div>

        <div style="margin-left: 20px; margin-top: 1rem;">
            <p class="mb-1-custom" style="font-size: 18px; margin-bottom: 10px;"><strong>Dados do Veículo</strong></p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 3px;"><strong>Placa: </strong> {{
                veiculoSelecionado?.value?.placa }}</p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 3px;"><strong>Marca/Modelo: </strong> {{
                veiculoSelecionado?.value?.descricaoMarcaModelo }}</p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 3px;"><strong>Cor: </strong> {{
                veiculoSelecionado?.value?.descricaoCor }}</p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 3px;"><strong>Capacidade: </strong> {{
                veiculoSelecionado?.value?.capacidadeTanque }}</p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 3px;"><strong>Quilometragem: </strong> {{
                veiculoSelecionado?.value?.quilometragemInicial }}</p>
        </div>

        <div style="margin-left: 20px; margin-top: 1rem;">
            <p class="mb-1-custom" style="font-size: 18px; margin-bottom: 10px;"><strong>Início da Vinculação</strong>
            </p>
            <p class="mb-1-custom" style="font-size: 12px; margin-bottom: 3px;"><strong>Data de
                    início: </strong>{{formatDate(dataInicioSelecionada)}}</p>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
        <p-button label="Vincular" *ngIf="!id" type="button" (onClick)="salvarVeiculo()"
            [disabled]="informacoesForm.invalid" (input)="formatarData($event)" severity="success" />
    </div>


    <p-dialog [(visible)]="mostrarDialogo" [modal]="true" [style]="{ width: '40rem' }" header="">
        <div class="flex align-items-center justify-content-center flex-column">
            <i class="pi pi-check-circle" style="font-size: 3rem; color: green; margin-bottom: 10px;"></i>
            <strong *ngIf="!id">
                <p>Alocação cadastrada com sucesso!</p>
            </strong>
            <strong *ngIf="id">
                <p>Alocação editada com sucesso!</p>
            </strong>
            <div class="flex justify-content-end gap-2">
                <p-button label="Ir para lista de alocações" (onClick)="irParaListaDeAlocacoes()" [text]="true"
                    severity="success"></p-button>
                <p-button label="Cadastrar nova alocação" (onClick)="novaAlocacao()" severity="success"></p-button>
            </div>
        </div>
    </p-dialog>
</p-card>