<div class="custom-margin">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</div>

<p-card class="custom-card-margin">

    <form [formGroup]="informacoesForm">
        <div class="d-flex align-items-center mt-0">
            <h1 style="color: #1C5638; font-size: 18px; margin-top: -100px; margin-left: -20px; text-wrap:nowrap">
                <strong *ngIf="!id">Preencha as informações do novo equipamento</strong>
                <strong *ngIf="id">Edite as informações do novo equipamento</strong>
            </h1>
            <div class="flex-grow-1 mx-5" style="position: relative; top: -50px; margin-left: 60px;width: 100%;">
                <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
            </div>
        </div>

        <div class="p-fluid grid formgrid">
            <div class="field col-4">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="tipoEquipamento">Tipo de
                    equipamento*</label>
                <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="tipoEquipamento"
                    [options]="treeData" optionLabel="label" optionValue="key" formControlName="tipoEquipamento"
                    placeholder="Selecione um tipo">
                </p-treeSelect>
                <div
                    *ngIf="informacoesForm.get('tipoEquipamento').hasError('required') && (informacoesForm.get('tipoEquipamento').dirty || informacoesForm.get('tipoEquipamento').touched)">
                    <small class="p-error">Campo obrigatório</small>
                </div>
            </div>

            <div class="field col-4">
                <label style="font-size: 13px;color: rgb(43, 42, 42);" for="tombo">Tombo*</label>
                <input type="text" pInputText id="tombo" formControlName="tombo" maxlength="6"
                    (keypress)="validateTombo($event)" (input)="formatTombo($event)"
                    placeholder="Insira o número de tombo" />
                <div
                    *ngIf="informacoesForm.get('tombo').hasError('required') && (informacoesForm.get('tombo').dirty || informacoesForm.get('tombo').touched)">
                    <small class="p-error">Campo obrigatório</small>
                </div>
            </div>

            <div class="field col-3">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="identificador">Identificador*</label>
                <input type="text" pInputText formControlName="identificador" maxlength="9" required>
            </div>

            <div class="field col-3">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="estadoConservacao">Estado de
                    conservação*</label>
                <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="estadoConservacao"
                    [options]="treeDataEstadoConservacao" optionLabel="label" optionValue="key"
                    formControlName="estadoConservacao" placeholder="Selecione um tipo">
                </p-treeSelect>
                <div
                    *ngIf="informacoesForm.get('estadoConservacao').hasError('required') && (informacoesForm.get('estadoConservacao').dirty || informacoesForm.get('estadoConservacao').touched)">
                    <small class="p-error">Campo obrigatório</small>
                </div>
            </div>

            <div class="field col-3">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="tipoCombustivel">Tipo de
                    combustível*</label>
                <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="tipoCombustivel"
                    [options]="treeDataCombustivelEquipamento" optionLabel="label" optionValue="key"
                    formControlName="tipoCombustivel" placeholder="Selecione um tipo">
                </p-treeSelect>
                <div
                    *ngIf="informacoesForm.get('tipoCombustivel').hasError('required') && (informacoesForm.get('tipoCombustivel').dirty || informacoesForm.get('tipoCombustivel').touched)">
                    <small class="p-error">Campo obrigatório</small>
                </div>
            </div>

            <div class="field col-6">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="notaFiscal">Nota Fiscal*</label>
                <input type="text" pInputText formControlName="numeroNotaFiscal" placeholder="Insira o número da NF"
                    (keydown)="onlyNumbers($event)" (change)="onNotaFiscalChange()">
                <div
                    *ngIf="informacoesForm.get('numeroNotaFiscal').invalid && (informacoesForm.get('numeroNotaFiscal').dirty || informacoesForm.get('numeroNotaFiscal').touched)">
                    <small class="p-error">Campo obrigatório.</small>
                </div>
            </div>

            <div class="field col-6" style="display: none;">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="anoModelo">Ano modelo</label>
                <input type="text" pInputText formControlName="anoModelo">

            </div>

            <div class="field col-6" style="display: none;">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="anoFabricacao">Ano fabricação</label>
                <input type="text" pInputText formControlName="anoFabricacao">
            </div>

            <div class="field col-3">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="dataDeCompra">Data da compra*</label>
                <input type="text" pInputText formControlName="dataDeCompra" id="dataDeCompra" readonly />
            </div>


            <div class="field col-3">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="valorDaNotaFiscal">Valor da Nota
                    Fiscal*</label>
                <input type="text" pInputText formControlName="valorDaNotaFiscal" id="valorDaNotaFiscal" />
            </div>


            <div class="field col-3">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="cores">Cor</label>
                <ng-container *ngIf="mostrarTreeSelect; else inputCor">
                    <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="cores" [options]="cores"
                        optionLabel="label" optionValue="id" formControlName="cores" placeholder="Selecione uma cor"
                        selectionMode="single" [filter]="true" filterPlaceholder="Digite para filtrar">
                    </p-treeSelect>
                </ng-container>
                <ng-template #inputCor>
                    <input pInputText id="cores" [value]="informacoesForm.get('cores').value?.descricao || ''" readonly
                        disabled>
                </ng-template>
            </div>

            <div class="field col-6">
                <label for="orgaoLotacao" style="font-size: 13px; color: rgb(43, 42, 42);">Lotação*</label>
                <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="orgaoLotacao"
                    [options]="orgaosLocais" optionLabel="label" optionValue="key" formControlName="orgaoLotacao"
                    placeholder="Selecione uma lotação" selectionMode="single" [filter]="true"
                    filterPlaceholder="Digite para filtrar">
                </p-treeSelect>
                <div
                    *ngIf="informacoesForm.get('orgaoLotacao').hasError('required') && (informacoesForm.get('orgaoLotacao').dirty || informacoesForm.get('orgaoLotacao').touched)">
                    <small class="p-error">Campo obrigatório</small>
                </div>
            </div>
            <div class="field col-6">
                <label for="orgaoSublotacao" style="font-size: 13px; color: rgb(43, 42, 42);">Sublotação*</label>
                <p-treeSelect class="md:w-20rem w-full" containerStyleClass="w-full" id="orgaoSublotacao"
                    [options]="subOrgaosLocais" optionLabel="label" optionValue="key" formControlName="orgaoSublotacao"
                    placeholder="Selecione uma sublotação" selectionMode="single" [filter]="true"
                    filterPlaceholder="Digite para filtrar">
                </p-treeSelect>
                <div
                    *ngIf="informacoesForm.get('orgaoSublotacao').hasError('required') && (informacoesForm.get('orgaoSublotacao').dirty || informacoesForm.get('orgaoSublotacao').touched)">
                    <small class="p-error">Campo obrigatório</small>
                </div>
            </div>

            <div class="field col-8">
                <label style="font-size: 13px; color: rgb(43, 42, 42);" for="descricaoEquipamento">Descrição</label>
                <textarea class="md:w-60rem w-full" containerStyleClass="w-full" pInputTextarea
                    formControlName="descricaoEquipamento"></textarea>
            </div>
        </div>

        <div class="container-fluid">
            <div class="container-fluid d-flex justify-content-end p-5 mb-1"
                style="margin-left:50px; padding-bottom: 0px !important;">
                <p-button label="LIMPAR" *ngIf="!id" [text]="true" [raised]="true" class="mx-2" (click)="resetForm()"
                    severity="success" />

                <p-button label="Cadastrar" *ngIf="!id" type="button" (onClick)="salvarEquipamento()"
                    [disabled]="informacoesForm.invalid || !informacoesForm.touched " severity="success" />

                <p-button label="Salvar" *ngIf="id" type="button" (onClick)="editarEquipamento()"
                
                    [disabled]=" isIdentificadorExistente  || informacoesForm.invalid  || !informacoesForm.dirty" severity="success" />
            </div>
        </div>

        <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }" class="p-dialog-centered"
            [closable]="false" [focusOnShow]="false">
            <div class="flex align-items-center justify-content-center flex-column" style="text-align: center;">
                <i class="pi pi-verified" style="font-size: 3rem; color: green; margin-bottom: 1rem;"></i>
                <strong>
                    <p>Equipamento cadastrado com sucesso!</p>
                </strong>
                <p>O que deseja fazer agora?</p>
                <div class="flex justify-content-center gap-3" style="margin-top: 1.5rem;">
                    <p-button label="Ir para lista de equipamentos" [text]="true" severity="success"
                        (onClick)="irParaListaDeEquipamentos()" style="font-size: 14px;" />
                    <p-button label="Cadastrar novo veículo" severity="success" (onClick)="criarNovoEquipamento()" style="font-size: 14px;" />
                </div>
            </div>
        </p-dialog>

    </form>


</p-card>