:host ::ng-deep  .p-card .p-card-body {
    padding: 4rem !important;
    margin-bottom: 20px;
    margin-top: 20px !important;
    padding-top: 40px !important;

}



:host ::ng-deep .p-card {
    border-radius: 10px;
    width: 90%;
    margin-left: 70px;
    margin-top: 30px;
    padding-top: 2rem; 
    margin-bottom: 0px !important;
}

:host ::ng-deep .mt-0 {
    margin-top: -0.3rem !important;
}


:host ::ng-deep .no-top .p-card {
    margin-top:1rem;
}

:host ::ng-deep .no-top .p-card-body {
    margin-bottom:1rem;
    padding-bottom: 1rem !important;
}

:host ::ng-deep .p-button {
    /* border-radius: 5px;
    box-shadow: 0px 1px 8px(0, 0, 0, 0.08), 0px 3px 4px(0, 0, 0, 0.1), 0px 1px 4px -1px(0, 0, 0, 0.1);
    text-transform: uppercase; */
    height: 30px;
}

/* Adicione isto ao seu arquivo CSS do componente */
.p-error {
    color: red;
    font-size: 15px;
    margin-top: 4px; /* Espaçamento entre as mensagens de erro e o campo de input */
  }
  
  .custom-select-button {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .custom-select-button .p-button {
    flex: 1;
  }
  
  :host ::ng-deep .selectButtonsgf {
    display: table;
}
:host ::ng-deep .selectButtonsgf .p-selectbutton{
    display: flex;
}
:host ::ng-deep .selectButtonsgf .p-selectbutton .p-ripple{
   
    border-right: 1px solid #d1d5db;
}

:host ::ng-deep .selectButtonsgf .p-selectbutton .p-ripple.p-button:not(:last-child){
    margin-right: 10px;
}
:host ::ng-deep .selectButtonsgf .p-selectbutton .p-ripple.p-button.p-highlight:last-child{
   background-color: red;
   border-color: red;
}
:host ::ng-deep .selectButtonsgf .p-selectbutton .p-ripple.p-button.p-highlight:last-child:hover{
    background-color: rgba(255, 0, 0, 0.715);
    border-color: rgba(255, 0, 0, 0.715);
 }

 .custom-margin {
    margin-top: 40px;   /* Ajuste conforme necessário */
    margin-left: 60px;  /* Ajuste conforme necessário */
  }
       

  :host ::ng-deep .p-inputtext {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 0.85rem;
    color: #4b5563;
    background: #ffffff;
    padding: 0.45rem 0.45rem;
    border: 1px solid #d1d5db;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
}

:host ::ng-deep .p-treeselect .p-treeselect-label {
    font-size: 0.85rem;
    padding: 0.45rem 0.45rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
