<!-- Container dos Cards Internos -->
<link rel="manifest" href="manifest.webmanifest">

<div class="welcome-message">
  <h5>{{ saudacao }}, {{ nomeUsuario }}! O que deseja fazer?</h5>
</div>

<!-- Container dos Cards Internos -->
<div class="card-container">
  <!-- Consultas -->
  <div class="card-custom">
    <i class="fa-solid fa-search card-icon"></i>
    <div class="card-title">Consulta</div>
    <button class="p-button-outline" (click)="navigateTo('/cliente-consultar-novo')">Consultar cliente</button>
  </div>

  <!-- Clientes -->
  <div class="card-custom">
    <i class="fa-solid fa-user card-icon"></i>
    <div class="card-title">Cliente</div>
    <button class="p-button" (click)="navigateTo('/cliente-criar-novo')">Adicionar cliente</button>
    <button class="p-button-outline" (click)="navigateTo('/cliente-listar')">Listar clientes</button>
  </div>
</div>