<div style=" margin-left: 60px; margin-top: 40px;">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</div>

<p-card class="custom-card-margin">
    <form [formGroup]="informacoesForm">
        <div class="d-flex align-items-center mt-0">
            <h1 style="color: #1C5638; font-size: 18px; margin-top: -50px; margin-left: -5px; text-wrap:nowrap">
                <strong>Informe os dados para pesquisa detalhada.</strong>
            </h1>
            <div class="flex-grow-1 mx-5" style="position: relative; top: -30px; margin-left: 60px;width: 100%;">
                <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
            </div>
        </div>

        <div class="p-fluid grid formgrid">
            <!-- Código da Empresa -->
            <div class="field col-3">
                <label for="codigoEmpresa">Código da Empresa*</label>
                <input id="codigoEmpresa" type="text" pInputText formControlName="CodigoEmpresa"
                    placeholder="Digite o Código da Empresa" />
            </div>

            <div class="field col-3">
                <label for="mes">Mês (Formato: MMYYYY)*</label>
                <input id="mes" type="text" pInputText formControlName="MesPeriodo"
                    placeholder="Digite o Mês (ex: 04/2024)" />
            </div>


        </div>
        <!-- Botão de Buscar -->
        <div class="field col-3 d-flex align-items-end">
            <button pButton label="Buscar" type="button" (click)="buscarManutencoes()"
                class="custom-buscar-button"></button>
        </div>

    </form>
</p-card>

<!-- Tabela com os Resultados -->
<p-card class="custom-card-margin">
    <p-table [value]="manutencoes" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nome_fantasia">Oficina<p-sortIcon field="nome_fantasia"></p-sortIcon></th>
                <th pSortableColumn="cnpj">CNPJ <p-sortIcon field="cnpj"></p-sortIcon></th>
                <th pSortableColumn="tipo_manutencao">Tipo Manutenção <p-sortIcon field="tipo_manutencao"></p-sortIcon>
                </th>
                <th pSortableColumn="placa">Placa <p-sortIcon field="placa"></p-sortIcon></th>
                <th pSortableColumn="veiculo">Marca/Modelo <p-sortIcon field="veiculo"></p-sortIcon></th>
                <th pSortableColumn="descricao_tipo_item">Descrição Tipo Item <p-sortIcon
                        field="descricao_tipo_item"></p-sortIcon></th>
                        <th pSortableColumn="descricao_item">Descrição Item <p-sortIcon field="descricao_item"></p-sortIcon>
                        </th>
                <!-- <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="os">OS <p-sortIcon field="os"></p-sortIcon></th> -->
                <th pSortableColumn="quantidade">Quantidade <p-sortIcon field="quantidade"></p-sortIcon></th>
                <th pSortableColumn="km_hs">Quilometragem<p-sortIcon field="km_hs"></p-sortIcon></th>
                <th pSortableColumn="nome_condutor">Condutor <p-sortIcon field="nome_condutor"></p-sortIcon></th>
                <th pSortableColumn="nome_responsavel_aprovacao">Responsável Aprovação <p-sortIcon
                        field="nome_responsavel_aprovacao"></p-sortIcon></th>
                        <th pSortableColumn="valor_unitario">Valor Unitário <p-sortIcon field="valor_unitario"></p-sortIcon>
                        </th>
                <th pSortableColumn="valor_total">Valor Total <p-sortIcon field="valor_total"></p-sortIcon></th>
                <th pSortableColumn="data">Data <p-sortIcon field="data"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-manutencao>
            <tr>
                <td>{{ manutencao.nome_fantasia }}</td>
                <td>{{ manutencao.cnpj }}</td>
                <td>{{ manutencao.tipo_manutencao }}</td>
                <td>{{ manutencao.placa }}</td>
                <td>{{ manutencao.veiculo }}</td>
                <td>{{ manutencao.descricao_tipo_item }}</td>
                <td>{{ manutencao.descricao_item }}</td>
                <!-- <td>{{ manutencao.id }}</td>
                <td>{{ manutencao.os }}</td> -->
                <td>{{ manutencao.quantidade }}</td>
                <td>{{ manutencao.km_hs }} {{" Km"}}</td>
                <td>{{ manutencao.nome_condutor }}</td>
                <td>{{ manutencao.nome_responsavel_aprovacao }}</td>
                <td>{{"R$ "}} {{ manutencao.valor_unitario }}</td>
                <td>{{"R$ "}} {{ manutencao.valor_total }}</td>
                <td>{{ manutencao.data }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="20">Nenhum dado encontrado.</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>