:host ::ng-deep .p-card .p-card-body {
    padding: 2rem !important;
    margin-top: -70px;
}

:host ::ng-deep .p-card {
    border-radius: 10px;
    width: 90%;
    margin-left: 70px;
    margin-top: 6rem;
}

:host ::ng-deep .mt-0 {
    margin-top: -0.3rem !important;
}


:host ::ng-deep .no-top .p-card {
    margin-top: 3rem;
}

:host ::ng-deep .no-top .p-card-body {
    margin-bottom: 1rem;
    padding-bottom: 0px !important;
    margin-top: -20px;
}

:host ::ng-deep .no-top .p-card-body .p-card-content {
    padding-bottom: 0px !important;
}


:host ::ng-deep .p-button {
    height: 30px;
}

.p-error {
    color: red;
    font-size: 15px;
    margin-top: 4px;
}

.custom-select-button {
    display: flex;
    flex-wrap: nowrap;
}

.custom-select-button .p-button {
    flex: 1;
}

:host ::ng-deep .selectButtonsgf {
    display: table;
}

:host ::ng-deep .selectButtonsgf .p-selectbutton {
    display: flex;
}

:host ::ng-deep .selectButtonsgf .p-selectbutton .p-ripple {

    border-right: 1px solid #d1d5db;
}

:host ::ng-deep .selectButtonsgf .p-selectbutton .p-ripple.p-button:not(:last-child) {
    margin-right: 10px;
}

:host ::ng-deep .selectButtonsgf .p-selectbutton .p-ripple.p-button.p-highlight:last-child {
    background-color: red;
    border-color: red;
}

:host ::ng-deep .selectButtonsgf .p-selectbutton .p-ripple.p-button.p-highlight:last-child:hover {
    background-color: rgba(255, 0, 0, 0.715);
    border-color: rgba(255, 0, 0, 0.715);
}

.custom-margin {
    margin-top: 40px;
    margin-left: 60px;
}

/* :host ::ng-deep .no-top .p-card {
    margin-top:20rem;
} */

:host ::ng-deep .p-inputtext {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 0.85rem;
    color: #4b5563;
    background: #ffffff;
    padding: 0.45rem 0.45rem;
    border: 1px solid #d1d5db;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
}

:host ::ng-deep .p-treeselect .p-treeselect-label {
    font-size: 0.85rem;
    padding: 0.45rem 0.45rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}


:host ::ng-deep .p-treeselect {
    height: 38px !important;
    /* Mantém altura padrão dos inputs */
    display: flex;
    align-items: center;
}


/* Ajuste do botão Limpar */
.btn-limpar {
    background-color: transparent !important;
    border: 2px solid #6F2481 !important;
    /* Roxo padrão da Someli */
    color: #6F2481 !important;
    font-weight: bold;
    padding: 7px 25px !important;
    border-radius: 6px !important;
    transition: all 0.3s ease-in-out;
    width: 130px;
    /* Mantendo um tamanho uniforme */
    text-align: center;
    height: 39px;
}

.btn-limpar:hover {
    background-color: #6F2481 !important;
    color: white !important;
}

/* Ajuste do botão Cadastrar */
.btn-cadastrar {
    background-color: #6F2481 !important;
    color: white !important;
    border: none !important;
    font-weight: bold;
    padding: 10px 25px !important;
    border-radius: 6px !important;
    transition: all 0.3s ease-in-out;
    width: 180px;
    text-align: center;
    height: 40px;
}

.btn-cadastrar:hover {
    background-color: #571C66 !important;
}

.btn-cadastrar:disabled {
    background-color: #A685A6 !important;
    /* Um tom mais claro do roxo da Someli */
    cursor: not-allowed !important;
    opacity: 0.6;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;


}

/* Remove o fundo branco do modal */
::ng-deep .custom-loading-dialog .p-dialog-content {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

/* Remove bordas e sombras do modal */
::ng-deep .custom-loading-dialog {
    background: rgba(0, 0, 0, 0.4) !important;
    /* Deixa o fundo escuro e transparente */
    box-shadow: none !important;
}

/* Estiliza o conteúdo do loading */
.loading-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estiliza o texto "Processando..." */
.loading-text {
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.custom-loading-dialog {
    background: rgba(0, 0, 0, 0.5) !important; /* Deixa o fundo semi-transparente */
    box-shadow: none;
  }
  
  .loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .loading-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-top: 10px;
  }
  