<div class="custom-margin">
  <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
</div>

<p-card class="custom-card-margin;">
  <p-dialog [(visible)]="isLoadingCnpj" [modal]="true" [closable]="false" showHeader="false"
    styleClass="custom-loading-dialog">
    <div class="loading-content">
      <p-progressSpinner></p-progressSpinner>
      <p class="loading-text">Buscando CNPJ...</p>
    </div>
  </p-dialog>


  <p-dialog [(visible)]="isLoadingSintegra" [modal]="true" [closable]="false" showHeader="false"
    styleClass="custom-loading-dialog">
    <div class="loading-content">
      <p-progressSpinner></p-progressSpinner>
      <p class="loading-text">Consultando Sintegra...</p>
    </div>
  </p-dialog>

  <form [formGroup]="cnpjForm">
    <div class="d-flex align-items-center mt-0">
      <h1 style="color: #5e2974; font-size: 18px; margin-top: -50px; margin-left: -5px; text-wrap: nowrap;">
        <strong>Consultar CNPJ</strong>
      </h1>
      <div class="flex-grow-1 mx-5" style="position: relative; top: -30px; margin-left: 60px;width: 100%;">
        <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label for="cnpj" class="form-label">CNPJ*</label>
        <div class="d-flex align-items-center">
          <input type="text" id="cnpj" class="form-control input-pequeno" pInputText formControlName="cnpj"
            placeholder="Informe o CNPJ" maxlength="18"
            (input)="applyCnpjMask($event.target.value, cnpjForm.get('cnpj'))" required />

          <button type="button" class="btn-limpar mx-2" (click)="consultarCNPJ()">Buscar</button>
          <button *ngIf="cliente" type="button" class="btn-limpar mx-2 btn-outline-danger" (click)="limparCnpjForm()">
            Limpar
          </button>
        </div>
        <div *ngIf="cnpjForm.get('cnpj').touched">
          <small class="p-error" *ngIf="cnpjForm.get('cnpj').hasError('required')">
            O campo CNPJ é obrigatório.
          </small>
          <small class="p-error" *ngIf="cnpjForm.get('cnpj').hasError('minlength')">
            O campo deve conter exatamente 14 caracteres.
          </small>
        </div>
      </div>

      <div class="col-md-3 d-flex align-items-end">
        <button *ngIf="cliente" type="submit" class="btn-cadastrar" (click)="adicionarCliente()">Adicionar
          cliente</button>
      </div>
    </div>
  </form>


  <div *ngIf="cliente" class="container mt-3" style="margin-left: -12px;">
    <!-- Primeira linha: Informações principais -->
    <div class="row">
      <div class="col-md-12">
        <div class="card p-3">
          <div class="row">
            <div class="col-md-2" *ngIf="cliente.status">
              <strong>Status:</strong> {{ cliente.status }}
            </div>
            <div class="col-md-3" *ngIf="cliente.cnpj">
              <strong>CNPJ:</strong> {{ cliente.cnpj }}
            </div>
            <div class="col-md-3" *ngIf="cliente.tipo">
              <strong>Tipo:</strong> {{ cliente.tipo }}
            </div>
            <div class="col-md-3" *ngIf="cliente.porte">
              <strong>Porte:</strong> {{ cliente.porte }}
            </div>
            <div class="col-md-3" *ngIf="cliente.nome">
              <strong>Nome:</strong> {{ cliente.nome }}
            </div>
            <div class="col-md-3" *ngIf="cliente.fantasia">
              <strong>Fantasia:</strong> {{ cliente.fantasia }}
            </div>
            <div class="col-md-2" *ngIf="cliente.abertura">
              <strong>Abertura:</strong> {{ cliente.abertura }}
            </div>
            <div class="col-md-3" *ngIf="cliente.naturezaJuridica">
              <strong>Natureza Jurídica:</strong> {{ cliente.naturezaJuridica }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Segunda linha: Endereço -->
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="card p-3">
          <h5><strong>Endereço</strong></h5>
          <div class="row">
            <div class="col-md-5" *ngIf="cliente.logradouro">
              <strong>Logradouro:</strong> {{ cliente.logradouro }}
            </div>
            <div class="col-md-2" *ngIf="cliente.numero">
              <strong>Número:</strong> {{ cliente.numero }}
            </div>
            <div class="col-md-3" *ngIf="cliente.complemento">
              <strong>Complemento:</strong> {{ cliente.complemento }}
            </div>
            <div class="col-md-2" *ngIf="cliente.cep">
              <strong>CEP:</strong> {{ cliente.cep }}
            </div>
            <div class="col-md-3" *ngIf="cliente.bairro">
              <strong>Bairro:</strong> {{ cliente.bairro }}
            </div>
            <div class="col-md-3" *ngIf="cliente.municipio">
              <strong>Município:</strong> {{ cliente.municipio }}
            </div>
            <div class="col-md-1" *ngIf="cliente.uf">
              <strong>UF:</strong> {{ cliente.uf }}
            </div>
            <div class="col-md-4" *ngIf="cliente.email">
              <strong>Email:</strong> {{ cliente.email }}
            </div>
            <div class="col-md-3" *ngIf="cliente.telefone">
              <strong>Telefone:</strong> {{ cliente.telefone }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Terceira linha: Atividades e Sócios -->
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="card p-3">
          <h5><strong>Atividades Principais</strong></h5>
          <li *ngFor="let atividade of cliente.atividade_principal">
            <strong>{{ atividade.code }}</strong>: {{ atividade.text }}
          </li>

          <h5><strong>Atividades Secundárias</strong></h5>
          <li *ngFor="let atividade of cliente.atividades_secundarias">
            <strong>{{ atividade.code }}</strong>: {{ atividade.text }}
          </li>

        </div>
      </div>

      <div class="col-md-6">
        <div class="card p-3">
          <h5><strong>Quadro de Sócios e Administradores (QSA)</strong></h5>
          <ul>
            <li *ngFor="let socio of cliente.qsa">
              <strong>{{ socio.qual }}</strong>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <!-- Quarta linha: Simples Nacional, SIMEI e Billing -->
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="card p-3">
          <div class="row">
            <!-- Simples Nacional -->
            <div class="col-md-4">
              <h5><strong>Simples Nacional</strong></h5>
              <p><strong>Optante:</strong> {{ cliente.simples?.optante ? 'Sim' : 'Não' }}</p>
              <p *ngIf="cliente.simples?.data_opcao"><strong>Data de Opção:</strong> {{ cliente.simples.data_opcao }}
              </p>
              <p *ngIf="cliente.simples?.data_exclusao"><strong>Data de Exclusão:</strong>
                {{ cliente.simples.data_exclusao ? cliente.simples.data_exclusao : 'Não houve exclusão' }}
              </p>
              <p *ngIf="cliente.simples?.ultima_atualizacao"><strong>Última Atualização:</strong>
                {{ cliente.simples.ultima_atualizacao | date:'dd/MM/yyyy HH:mm:ss' }}
              </p>
            </div>

            <!-- SIMEI -->
            <div class="col-md-4">
              <h5><strong>SIMEI</strong></h5>
              <p><strong>Optante:</strong> {{ cliente.simei?.optante ? 'Sim' : 'Não' }}</p>
              <p *ngIf="cliente.simei?.data_opcao"><strong>Data de Opção:</strong> {{ cliente.simei.data_opcao }}</p>
              <p *ngIf="cliente.simei?.data_exclusao"><strong>Data de Exclusão:</strong>
                {{ cliente.simei.data_exclusao ? cliente.simei.data_exclusao : 'Não houve exclusão' }}
              </p>
              <p *ngIf="cliente.simei?.ultima_atualizacao"><strong>Última Atualização:</strong>
                {{ cliente.simei.ultima_atualizacao | date:'dd/MM/yyyy HH:mm:ss' }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-card>

<p-card class="custom-card-margin">
  <form [formGroup]="sintegraForm">
    <div class="d-flex align-items-center mt-0">
      <h1 style="color: #5e2974; font-size: 18px; margin-top: -50px; margin-left: -5px; text-wrap: nowrap;">
        <strong>Consulta Sintegra</strong>
      </h1>
      <div class="flex-grow-1 mx-5" style="position: relative; top: -30px; margin-left: 60px;width: 100%;">
        <hr class="divider container-fluid" style="width: 100%; margin-left: 2px; margin-right: 40px;">
      </div>
    </div>
    <div class="row align-items-end">
      <!-- Campo CNPJ -->
      <div class="col-md-2">
        <label for="cnpjSintegra" class="form-label">CNPJ*</label>
        <input type="text" id="cnpjSintegra" class="form-control input-pequeno" pInputText formControlName="cnpj"
          placeholder="Informe o CNPJ" maxlength="18"
          (input)="applyCnpjMask($event.target.value, sintegraForm.get('cnpj'))" required />

        <!-- Validação do CNPJ -->
        <div *ngIf="sintegraForm.get('cnpj')?.touched">
          <small class="p-error" *ngIf="sintegraForm.get('cnpj')?.hasError('required')">
            O campo CNPJ é obrigatório.
          </small>
          <small class="p-error" *ngIf="sintegraForm.get('cnpj')?.hasError('minlength')">
            O campo deve conter exatamente 14 caracteres.
          </small>
        </div>
      </div>

      <!-- Campo UF -->
      <div class="col-md-2">
        <label for="uf" class="form-label">UF*</label>
        <p-treeSelect [options]="ufs" selectionMode="single" formControlName="uf" placeholder="Selecione a UF"
          style="width: 100%;">
        </p-treeSelect>
      </div>

      <!-- Botão de Buscar -->
      <div class="col-md-2">
        <div class="d-flex align-items-center">

          <button type="button" class="btn-limpar mx-2" (click)="consultarSintegra()">
            Buscar
          </button>
          <button *ngIf="sintegraData" type="button" class="btn-limpar mx-2 btn-outline-danger"
            (click)="limparSintegraForm()">
            Limpar
          </button>
        </div>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger mt-2">
        <strong>Atenção:</strong> {{ errorMessage }}
      </div>
    </div>
  </form>

  <div *ngIf="sintegraData" class="mt-4">
    <h3>Resultado da Consulta Sintegra</h3>

    <h4>Dados da Empresa</h4>
    <p *ngIf="sintegraData.data[0]?.razao_social"><strong>Razão Social:</strong> {{ sintegraData.data[0]?.razao_social
      }}</p>
    <p *ngIf="sintegraData.data[0]?.cnpj"><strong>CNPJ:</strong> {{ sintegraData.data[0]?.cnpj }}</p>
    <p *ngIf="sintegraData.data[0]?.inscricao_estadual"><strong>Inscrição estadual:</strong> {{
      sintegraData.data[0]?.inscricao_estadual }}</p>

    <p *ngIf="sintegraData.data[0]?.atividade_economica"><strong>Atividade Econômica:</strong> {{
      sintegraData.data[0]?.atividade_economica }}</p>
    <p *ngIf="sintegraData.data[0]?.atividade_economica_secundaria"><strong>Atividade Secundária:</strong> {{
      sintegraData.data[0]?.atividade_economica_secundaria }}</p>

    <h4>Endereço</h4>
    <p
      *ngIf="sintegraData.data[0]?.endereco_logradouro || sintegraData.data[0]?.endereco_numero || sintegraData.data[0]?.endereco_complemento || sintegraData.data[0]?.endereco_bairro || sintegraData.data[0]?.endereco_municipio || sintegraData.data[0]?.endereco_uf">
      <strong>Endereço:</strong>
      {{ sintegraData.data[0]?.endereco_logradouro }} {{ sintegraData.data[0]?.endereco_numero }},
      {{ sintegraData.data[0]?.endereco_complemento }},
      {{ sintegraData.data[0]?.endereco_bairro }},
      {{ sintegraData.data[0]?.endereco_municipio }},
      {{ sintegraData.data[0]?.endereco_uf }},
      CEP: {{ sintegraData.data[0]?.endereco_cep }}
    </p>

    <h4>Contato</h4>
    <p *ngIf="sintegraData.data[0]?.telefone"><strong>Telefone:</strong> {{ sintegraData.data[0]?.telefone }}</p>
    <p *ngIf="sintegraData.data[0]?.email"><strong>Email:</strong> {{ sintegraData.data[0]?.email }}</p>

    <h4>Situação Cadastral</h4>
    <p *ngIf="sintegraData.data[0]?.situacao_cadastral"><strong>Situação Cadastral:</strong> {{
      sintegraData.data[0]?.situacao_cadastral }}</p>
    <p *ngIf="sintegraData.data[0]?.situacao_cadastral_data"><strong>Data da Situação Cadastral:</strong> {{
      sintegraData.data[0]?.situacao_cadastral_data }}</p>

    <h4>Informações Financeiras</h4>
    <p *ngIf="sintegraData.data[0]?.capital_social"><strong>Capital Social:</strong> {{
      sintegraData.data[0]?.capital_social }}</p>

    <h4>Outras Informações</h4>
    <p *ngIf="sintegraData.data[0]?.regime_apuracao"><strong>Regime de Apuração:</strong> {{
      sintegraData.data[0]?.regime_apuracao }}</p>
    <p *ngIf="sintegraData.data[0]?.abertura_data"><strong>Data de Abertura:</strong> {{
      sintegraData.data[0]?.abertura_data }}</p>
    <p *ngIf="sintegraData.data[0]?.site_receipt">
      <strong>Site de Referência:</strong>
      <a [href]="sintegraData.data[0]?.site_receipt" target="_blank">Visualizar</a>
    </p>
  </div>


</p-card>