<p-toast></p-toast>

<p-card>
  <div style=" margin-left: 30px;">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  </div>
  <div class="container-fluid mb-7 mr-5">
    <div class="container-fluid mb-7 mr-5" style="margin-right: -10px;">
      <div class="flex justify-content-end">
        <button icon="pi pi-plus" pButton pRipple label="Novo cliente" class="p-button-someli"
          (click)="criarNovoCliente()">
        </button>
      </div>
    </div>


    <div class="container-fluid">
      <div class="header-container d-flex align-items-center mb-4">
        <!-- Título com margem à esquerda para movê-lo para a direita -->
        <div class="titulo" style="margin-left: 10px;">
          <h1 class="titulo-pagina" style="font-size: 1.5rem; color: #5e2974; margin-right: 10px;">
            <strong>Lista de clientes</strong>
          </h1>
        </div>
        <p-divider class="divider" type="solid"></p-divider>
        <div class="search-container p-input-icon-left ml-auto" style="position: relative; margin-right: 15px;">
          <i class="pi pi-search" style="position: absolute; left: 10px; top: 65%; transform: translateY(-50%);"></i>
          <input class="input-pesquisar" pInputText type="text" placeholder="Pesquisar" style="padding-left: 30px;"
            [(ngModel)]="pesquisar" (ngModelChange)="filtrarClientes()">
        </div>
      </div>
    </div>

    <!-- Spinner exibido enquanto a página carrega -->
    <div *ngIf="isLoading" class="spinner-container">
      <p-progressSpinner ariaLabel="loading" [style]="{ width: '50px', height: '50px' }" strokeWidth="4"
        class="green-spinner"></p-progressSpinner>
    </div>

    <p-table *ngIf="!isLoading" dataKey="id" [value]="ClientesFiltrados" styleClass="p-datatable-striped custom-table"
      [tableStyle]="{ 'min-width': '20rem', 'width': '100%' }" [paginator]="true" [rows]="10"
      [rowsPerPageOptions]="[10, 20, 30]">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nome" style="min-width: 210px; font-size: 13px;">Razão social <p-sortIcon
              field="nome"></p-sortIcon></th>
          <th pSortableColumn="cnpj" style="min-width: 160px; font-size: 13px;">CNPJ <p-sortIcon
              field="cnpj"></p-sortIcon></th>
          <th pSortableColumn="cnpj" style="min-width: 160px; font-size: 13px;">Proprietário <p-sortIcon
              field="cnpj"></p-sortIcon></th>
          <th pSortableColumn="telefone" style="min-width: 130px; font-size: 13px;">Telefone <p-sortIcon
              field="telefone"></p-sortIcon></th>
          <th pSortableColumn="email" style="min-width: 200px; font-size: 13px;">Email <p-sortIcon
              field="email"></p-sortIcon></th>
          <th pSortableColumn="honorario" style="min-width: 150px; font-size: 13px;">Honorário <p-sortIcon
              field="honorario"></p-sortIcon></th>
          <th pSortableColumn="vencimento" style="min-width: 100px; font-size: 13px;">Vencimento <p-sortIcon
              field="vencimento"></p-sortIcon></th>
          <th pSortableColumn="pagamento" style="min-width: 130px; font-size: 13px;">Pagamento <p-sortIcon
              field="pagamento"></p-sortIcon></th>
          <th style="min-width: 120px">Ações</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-cliente let-expanded="expanded">
        <tr>
          <td class="table-cell table-cell-large" style="font-size: 12px;">{{ cliente.nome }}</td>
          <td class="table-cell table-cell-large" style="font-size: 12px;">{{ formatarCnpj(cliente.cnpj) }}</td>
          <td class="table-cell table-cell-large" style="font-size: 12px;">{{ cliente.nomeProprietario }}</td>
          <td class="table-cell table-cell-large" style="font-size: 12px;">{{ cliente.telefone }}</td>
          <td class="table-cell table-cell-large" style="font-size: 12px;">{{ cliente.email }}</td>
          <td class="table-cell table-cell-large" style="font-size: 12px;">{{ cliente.honorario |
            currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
          <td class="table-cell table-cell-large" style="font-size: 12px;">{{ cliente.vencimento }}</td>
          <td class="table-cell table-cell-large" style="font-size: 12px;">{{ getLabelPagamento(cliente.pagamento) }}
          </td>
          <td class="table-cell table-cell-large" style="font-size: 20px;">
            <p-button class="custom-button-edit" (click)="editarCliente(cliente.clienteId)">
              <i class="fa-solid fa-pen-to-square"></i>
            </p-button>

            <p-button class="custom-button-excluir" (click)="confirmarExclusao(cliente)">
              <i class="fa-solid fa-trash"></i>
            </p-button>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</p-card>

<p-dialog [(visible)]="modalExclusaoVisivel" [modal]="true" [closable]="false" header="Confirmar Exclusão">
  <div class="p-d-flex p-ai-center p-jc-center">
    <p>Tem certeza que deseja excluir este cliente?</p>
  </div>

  <div class="p-dialog-footer p-d-flex p-jc-center">
    <button class="btn-nao" (click)="modalExclusaoVisivel = false">
      <i class="pi pi-times"></i> NÃO
    </button>
    <button class="btn-sim" (click)="excluirCliente()">
      <i class="pi pi-check"></i> SIM
    </button>
  </div>
</p-dialog>